/* Sticky footer styles
-------------------------------------------------- */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
}


.table tbody > tr > td.plan-cell {
    vertical-align: middle;
}

.icon-display {
    pointer-events: none;
    cursor: not-allowed;
}

.empty-comment {
    color: black;
}

