{% extends 'go2base.html' %}

{% block title %}{% trans %}What Is It?{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-12 mx-auto">
        <a href="/"><i class="fas fa-arrow-left"></i> Back to the Gig-o-Matic</a>
        <h2>Qu'est-ce que le Gig-o-Matic ?</h1>
    </div>    
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        C'est simple : les fanfares (et tout groupe de musique composé de membres ayant un job à temps plein) ont du
        mal à s'organiser. Qui est dispo pour ce concert ? Quelle est la setliste ? A quelle heure faut-il être sur
        place ? C'est un enfer !<p><p>

        Le Gig-o-Matic traite le problème en laissant chaque personne du groupe déclarer ses disponibilités pour un
        concert donné. Chaque membre a un calendrier personnalisé listant les concerts à venir, incluant les concerts
        pour lesquels ils n'ont pas encore répondu. Voyez plutôt l'exemple ci-dessous :
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        <br>
        <img src="/images/whatis-agenda.png" style="border:1px solid;">
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        Les informations relatives à un concert peuvent aussi être renseignées dans le Gig-o. Les membres ont ainsi un
        endroit unique où trouver toutes les informations, tout particulièrement où ils doivent se rendre, et quand :
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        <br>
        <p><img src="/images/whatis-gig-info.png" style="border:1px solid;"><p><p>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        Il y a beaucoup d'autres fonctionnalités qui rendent la vie et le management du groupe plus simple.
        Voici une liste non-exhaustive :
        <br><br>
        <ul>
            <li>Trois vues pour les concerts à venir : Calendrier, Liste, et Grille
            <li>Organiser son groupe par sections (ou le laisser désorganisé)
            <li> Les membres multi-instrumentistes peuvent être listés dans plusieurs sections
            <li> Les membres peuvent être dans plusieurs groupes
            <li> Le Gig-o-Matic a des pages de profil personnalisées ..
            <li> .. et des pages de groupe personnalisées !
            <li> Notification automatique par email pour les nouveaux concerts (optionnelle)
            <li> Setlists en format imprimable
            <li> Les membres peuvent commenter à propos de leur disponibilité et des concerts
            <li> Archivage automatique des concerts une fois la date passée
            <li> Intégration possible avec Google Calendar, Apple Cal, Outlook, etc ..
            <li> Conçu pour fonctionner sur un ordinateurs, un téléphone, une tablette, un jumbotron, et un blimp
            <li> Disponible en Anglais, Italien, Allemand et Français (un autre langage ? Nous cherchons des traducteurs !)
        </ul>
        Des fonctionnalités sont régulièrement ajoutées.
        <br><br>
        Vous avez sans doute encore quelques questions:
        <ul>

            <li> <i>Qui utilise ce site ?</i> Le Gig-o est utilisé par le Second Line Brass Band depuis des années, et est maintenant ouvert aux autres groupes
            <li> <i>Combien ça coute ?</i> C'est gratuit, les amis. Le Gig-O-Matic a été conçu avec amour, et nous aimons tout le monde. Tout cela tourne sur le Google application engine, qui est ridiculeusement peu cher, nous vous faisons donc profiter de tout ca.
            <li> <i>Qui a fait tout ça ?</i> Le Gig-o-Matic Overlord Committee, pendant leur temps libre.
            <li> <i>Comment puis-je inscrire mon groupe ?</i> <a href="/help_band_request.html">Cliquez ici.</a>
            <li> <i>J'ai une autre question, comment je fais ?</i> <a href="mailto:gigomatic.superuser@gmail.com">Envoyez un email par ici !</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-12 mx-auto">
        <a href="/"><i class="fas fa-arrow-left"></i> Back to the Gig-O-Matic</a>
    </div>    
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
