{% import 'plan_icon.html' as plan_icon %}
{% macro agenda_events(plan_info) -%}
<table class="table">
{% for plan in plan_info %}
    <tr>
        <td width=10%>
            {{ plan_icon.icon_button(plan) }}
        </td>
        <td width=20%>
            {{ plan.key.parent().get().date|e }}
        </td>
        <td>
            <a href="gig_info.html?gk={{ plan.key.parent().urlsafe() }}">{{ plan.key.parent().get().title|e }}</a>
        </td>
        <td width=20%>
            <a href="band_info.html?bk={{ plan.key.parent().get().key.parent().urlsafe()}}">
             {{ plan.key.parent().get().key.parent().get().name|e }}</a>
        </td>
    </tr>
{% endfor %}
</table>
{%- endmacro %}
