{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info) -%}

{% set the_gig_key = plan_info['the_gig_key'] %}
{% set the_gig = the_gig_key.get() %}
{% set the_plan_key = plan_info['the_plan_key'] %}
{% set the_plan = the_plan_key.get() %}
{% set the_member_key = plan_info['the_member_key'] %}
{% set the_band = plan_info['the_band'] %}
{% set the_assoc = plan_info['the_assoc'] %}
{% set the_section_key = plan_info['the_section'] %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% set show_section = True %}
{% else %}
    {% set show_section = False %}
{% endif %}

{% set date_lg = 2 %}
{% set date_sm = 2 %}
{% set title_lg = 11 %}
{% set title_sm = 11 %}
{% set grp1_lg = 6 %}
{% set grp1_sm = 11 %}
{% set grp2_lg = 5 %}
{% set grp2_sm = 12 %}

{% if show_section %}
    {% set plan_lg = 8 %}
    {% set plan_sm = 11 %}
    {% set section_lg = 4 %}
    {% set section_sm = 11 %}
{% else %}
    {% set plan_lg = 12 %}
    {% set plan_sm = 11 %}
{% endif %}

<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
        {{ the_date_formatter(the_user, the_gig.date, 'short') }} {{ the_date_formatter(the_user, the_gig.date, 'day') }}
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                {% if the_gig.status==1 %}
                    <i class="fa fa-check-circle" style="color:green"></i>
                {% elif the_gig.status==2 %}
                    <i class="fa fa-times-circle" style="color:red"></i>
                {% else %}
                    <i class="fa fa-question-circle" style="color:orange"></i>
                {% endif %}
            </div>
            <div class="col-lg-{{grp1_lg}} col-md-{{grp1_lg}} col-sm-{{grp1_sm}} col-xs-{{grp1_sm}}">
                <a href="gig_info.html?gk={{ the_gig_key.urlsafe() }}" ><strong>{{ the_gig.title|e }}</strong></a>
                {% if show_band==True %}
                    <a href="band_info.html?bk={{ the_band.key.urlsafe()}}">
                    {% if the_band.shortname %}
                        ({{ the_band.shortname|e }})
                    {% else %}
                        ({{ the_band.name|e }})
                    {% endif %}
                    </a>
                {% endif %}
            </div>
            {% if the_gig.status != 2 %}
            <div class="col-lg-{{grp2_lg}} col-md-{{grp2_lg}} col-sm-{{grp2_sm}} col-xs-{{grp2_sm}}">
                <div class="row">
                    <div class="col-lg-{{plan_lg}} col-md-{{plan_lg}} col-md-offset-0 col-sm-{{plan_sm}} col-sm-offset-1 col-xs-{{plan_sm}} col-xs-offset-1 ">
                        {% if the_member_key == the_user.key or the_user_is_superuser %}
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    {{ plan_icon.icon_button(the_plan) }}
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                    <a href="#" class="comment-thing" id="username" data-type="text" data-pk="{{the_plan_key.urlsafe()}}" data-url="/updateplancomment" data-title="">{{the_plan.comment}}</a>
                                </div>
                            </div>
                        {% else %}
                            {{ plan_icon.icon_display(the_plan.value) }}
                            {{the_plan.comment}}
                        {% endif %}
                    </div>
                    {% if show_section %}
                        <div class="col-md-{{section_lg}} col-md-offset-0 col-sm-{{section_sm}} col-sm-offset-1 col-xs-{{section_sm}} col-xs-offset-1">
                            {% if get_the_section_keys %}
                                {% set the_section_keys = get_the_section_keys(the_band.key) %}
                            {% endif %}
                            {% set the_section_keys = the_band.sections %}
                            {% if the_section_keys and the_section_keys|length > 1 and (the_plan.member == the_user.key or the_user_is_superuser)%}
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id='sel-{{the_plan_key.urlsafe()}}'>
                                    {% if the_section_key == None %}
                                        {% trans %}section{% endtrans %}...  <span class="caret"></span>
                                    {% else %}
                                        {{the_section_key.get().name}} <span class="caret"></span>
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    {% for section_key in the_section_keys %}
                                        {% set a_section = section_key.get() %}
                                        <li><a onclick="section_select('{{the_plan_key.urlsafe()}}','{{section_key.urlsafe()}}','{{a_section.name}}')">{{ a_section.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>


                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="col-lg-{{grp2_lg}} col-md-{{grp2_lg}} col-sm-{{grp2_sm}} col-xs-{{grp2_sm}}">
                <strong>{% trans %}Cancelled!{% endtrans %}</strong>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}
