{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info) -%}

{% set the_gig_key = plan_info['the_gig_key'] %}
{% set the_gig = the_gig_key.get() %}
{% set the_plan_key = plan_info['the_plan_key'] %}
{% set the_plan = the_plan_key.get() %}
{% set the_member_key = plan_info['the_member_key'] %}
{% set the_band = plan_info['the_band'] %}
{% set the_assoc = plan_info['the_assoc'] %}
{% set the_section_key = plan_info['the_section'] %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% set show_section = True %}
{% else %}
    {% set show_section = False %}
{% endif %}

<div class="row" style="border-left:solid thick {{ colors[the_assoc.color] }};">
    <div class="col-sm-12 col-md-3">
        {{ the_date_formatter(the_user, the_gig.date, 'short') }} {{ the_date_formatter(the_user, the_gig.date, 'day') }}
        {% if the_user.preferences.agenda_show_time and the_gig.gigtime() %}
            {{ the_gig.gigtime() }}
        {% endif %}
        {% if the_gig.status==1 %}
            <i class="fa fa-check-circle float-md-right" style="color:green"></i>
        {% elif the_gig.status==2 %}
            <i class="fa fa-times-circle float-md-right" style="color:red"></i>
        {% else %}
            <i class="fa fa-question-circle float-md-right" style="color:orange"></i>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-5">
        <a href="gig_info.html?gk={{ the_gig_key.urlsafe() }}" ><strong>{{ the_gig.title|e }}</strong></a>
        {% if show_band==True %}
            <a href="band_info.html?bk={{ the_band.key.urlsafe()}}">
            {% if the_band.shortname %}
                ({{ the_band.shortname|e }})
            {% else %}
                ({{ the_band.name|e }})
            {% endif %}
            </a>
        {% endif %}
    </div>


    {% if the_gig.status != 2 %}
        <div class="col-12 col-md-4 btn-group" role="group">
        {% if the_member_key == the_user.key or the_user_is_superuser %}
            {{ plan_icon.icon_button(the_plan, the_band.simple_planning ) }}
            {% if the_band.plan_feedback %}
                {{ plan_icon.feedback_button(the_plan, the_band.plan_feedback.split('\n') ) }}
            {% endif %}
            {% if show_section %}
                {% if get_the_section_keys %}
                    {% set the_section_keys = get_the_section_keys(the_band.key) %}
                {% endif %}
                {% set the_section_keys = the_band.sections %}
                {% if the_section_keys and the_section_keys|length > 1 and (the_plan.member == the_user.key or the_user_is_superuser)%}
                    <div class="dropdown mr-2">
                        <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="sel-{{the_plan_key.urlsafe()}}" aria-haspopup="true" aria-expanded="false">
                            {% if the_section_key == None %}
                                {% trans %}section{% endtrans %}...  <span class="caret"></span>
                            {% else %}
                                {{the_section_key.get().name}} <span class="caret"></span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="sel-{{the_plan_key.urlsafe()}}">
                            {% for section_key in the_section_keys %}
                                {% set a_section = section_key.get() %}
                                <a class="dropdown-item" onclick="section_select('{{the_plan_key.urlsafe()}}','{{section_key.urlsafe()}}','{{a_section.name}}')">{{ a_section.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <a href="#" class="comment-thing" id="username" data-type="text" data-pk="{{the_plan_key.urlsafe()}}" data-url="/updateplancomment" data-title="">{{the_plan.comment}}</a>
        {% else %}
            {{ plan_icon.icon_display(the_plan.value) }}
            {% if the_band.plan_feedback and the_plan.feedback_value %}
                the_band.plan_feedback.split('\n')[the_plan.feedback_value-1]
            {% endif %}
            {{the_plan.comment}}
        {% endif %}
        </div>
    {% else %}
        <div class="col-12 col-md-4">
            <strong>{% trans %}Cancelled!{% endtrans %}</strong>
        </div>
    {% endif %}

</div>


{%- endmacro %}
