{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container">

  <div class="starter-template">
        <div class="row">
            <div class="col-md-5 col-md-offset-3"><h1>Your Agenda</h1></div>
        </div>

        <div class="row">
            <div class="col-md-1 col-md-offset-3">Band</div>
            <div class="col-md-6">{{ band.name|e }}</div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3">Upcoming</div>
            <div class="col-md-6">
                <div id="upcomingevents">
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3">Weigh In</div>
            <div class="col-md-8">
                <div id="weighinevents">
                </div>
            </div>
        </div>
  </div>

</div><!-- /.container -->
{% include 'scripts.html' %}
<script>
$(document).ready(function() {
    function updateevents(the_divname, the_maxnum, the_noplan) {
        $.post("/agendaevents",
                    {
                        maxnum: the_maxnum,
                        noplan: the_noplan,
                        band_id: {{ band.key.id() }},
                        member_id: {{ member.key.id() }}
                    },
                    function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                          $(the_divname).html(responseTxt)
                        if(statusTxt=="error")
                          alert("Error: "+xhr.status+": "+xhr.statusText);
                    });
    }
    
    updateevents("#upcomingevents","2","0")
    updateevents("#weighinevents","0","1")
});
</script>
{% include 'footer.html' %}

