{% extends 'go2base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0"><h1>Agenda</h1></div>
</div>

<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0"><h3>Upcoming</h3></div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <div id="upcomingevents">
            {% if upcoming_plans %}
                <table class="table">
                {% import 'plan_edit.html' as plan_edit with context %}
                {% for plan_info in upcoming_plans %}
                    {{ plan_edit.plan_edit(plan_info, show_date=True, show_member=False, show_band=the_user.number_of_bands>1, show_gig_name=True) }}
                {% endfor %}
                </table>                
            {% else %}
                Nothing coming up!
            {% endif %}
        </div>
    </div>
</div>
{% if weighin_plans %}
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0"><h3>Future to Weigh In</h3></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <div id="weighinevents">
                <table class="table">
                {% for plan_info in weighin_plans %}
                    {{ plan_edit.plan_edit(plan_info, show_date=True, show_member=False, show_band=the_user.number_of_bands>1, show_gig_name=True) }}
                {% endfor %}
                </table>                
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block localscripts %}
<script src="/js/plan_buttons.js"></script>
{% endblock localscripts %}


