{% include 'header.html' %}
{% include 'navbar.html' %}
{% import 'plan_icon.html' as plan_icon %}
{% import 'agenda_events.html' as agenda_events %}

<div class="container">

  <div class="starter-template">
        <div class="row">
            <div class="col-md-8 col-md-offset-2"><h1>Your Agenda</h1></div>
        </div>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2"><h3>Upcoming</h3></div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="upcomingevents">
                    {{ agenda_events.agenda_events(upcoming_plans, the_member, "1-") }}
                </div>
            </div>
        </div>
        {% if weighin_plans %}
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2"><h3>Future to Weigh In</h3></div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="weighinevents">
                        {{ agenda_events.agenda_events(weighin_plans, member, "2-") }}
                    </div>
                </div>
            </div>
        {% endif %}
  </div>

</div><!-- /.container -->
{% include 'scripts.html' %}
<script src="/js/plan_buttons.js"></script>
{{ plan_icon.setup_plan_buttons(upcoming_plans,"1-") }}
{{ plan_icon.setup_plan_buttons(weighin_plans,"2-") }}
{% include 'footer.html' %}

