{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2"><h1>Band Admin</h1></div>
    </div> 
    {% for band in the_bands %}
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="/band_info.html?bk={{band.key.urlsafe()}}">{{ band.name|e }}</a>
            </div>
            <div class="col-md-2">
                <a href="/band_delete?mk={{band.key.urlsafe()}}">delete</a>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="row">
        {% if nav_info['is_admin'] %}
            <div class="col-md-4 col-md-offset-2">
                <a class="btn btn-primary btn-sm" href="/band_edit.html?new=1">Add a Band</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
