<table class="table table-striped">
{% for the_assoc in the_assocs %}
    {% if the_assoc.status > 0 %}
        <tr>
        <td>
            <a href='/member_info.html?mk={{the_assoc.member.urlsafe()}}'>{{ the_assoc.member.get().name }}</a>
        </td>
        {% if nav_info['is_admin'] or user_is_admin %} 
            {% if the_assoc.member!=the_user.key %}
                <td>
                    {% if the_assoc.status==1 %}
                        <a href="/band_makeadmin?do=1&ak={{the_assoc.key.urlsafe()}}">make band admin</a>
                    {% elif the_assoc.status==2 %}
                        admin (<a href="/band_makeadmin?do=0&ak={{the_assoc.key.urlsafe()}}">remove</a>)
                    {% endif %}
                </td>
                <td>
                    <a href="/band_removemember?ak={{the_assoc.key.urlsafe()}}">remove from band</a>
                </td>
            {% else %}
                <td>(me)</td>
            {% endif %}
        {% endif %}
        </tr>
    {% endif %}
{% endfor %}
</table>
