{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Info{% endtrans %}{% endblock title %}

{% block headcontent %}
<!-- bxSlider CSS file -->
<link href="/css/jquery.bxslider.css" rel="stylesheet" />

{% endblock headcontent %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {{ the_band.name }}
            {% if the_user_is_associated and the_band.shortname %}
                <br>
                ({% trans %}a.k.a.{% endtrans %}&nbsp;{{ the_band.shortname }})
            {% endif %}
        </div> 
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% trans %}Info{% endtrans %}
                            </div>
                            {% if the_user_is_band_admin or the_user_is_superuser %}
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
                                    <a class="btn btn-primary btn-xs" href="band_edit.html?bk={{ the_band.key.urlsafe() }}">{% trans %}Edit{% endtrans %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% if the_band.description %}
                                {{ the_band.description | html_content | safe  }}
                            {% else %}
                                {% trans %}A Band of Mystery...{% endtrans %}
                            {% endif %}
                        </div>
                    </div>
                    {% if the_band.website %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Website{% endtrans %}</div>
                            <div class="col-md-10 col-sm-10 col-xs-9">
                                    <a href="http://{{the_band.website}}" target="new">{{ the_band.website|e }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if the_user_is_associated or the_user_is_superuser %}
                        {% if the_member_links %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Resources{% endtrans %}</div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                        {% for l in the_member_links %}
                                            <a href="{{l[1]}}" target="_new">{{ l[0] }}</a><br>
                                        {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Public Profile{% endtrans %}</div>
                            <div class="col-md-10 col-sm-10 col-xs-9">
                                    <a href="http://gig-o-matic.appspot.com/band/{{the_band.condensed_name}}" target="new">http://gig-o-matic.appspot.com/band/{{ the_band.condensed_name }}</a>
                            </div>
                        </div>
                        {% if the_user_is_superuser %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Calendar URL for Members{% endtrans %}</div>
                                <div class="col-md-10 col-sm-10 col-xs-9">
                                        <a href="http://gig-o-matic.appspot.com/cal/b/{{the_band.key.urlsafe()}}" onclick="return false;">{% trans %}Copy this link's URL and use it to subscribe in google or iCal or whatever{% endtrans %}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div> <!-- panel -->
            {% if the_band.images %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Pictures Of Us{% endtrans %}
                            </div>
                        </div>
                        <div class="panel-body" id="pictures">
                            <ul class="bxslider">
                                {% for i in the_band.images %}
                                      <li><img src="{{i}}" /></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            {% endif %}
            {% if the_user_is_associated == False and ( the_user_is_superuser == False ) %}
                {% if the_band.share_gigs %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Upcoming Gigs{% endtrans %}
                            </div>
                        </div>
                        <div class="panel-body" id="upcoming-gigs">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                {% endif %}
                {% if the_user %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Members With Public Profiles{% endtrans %}
                            </div>
                        </div>
                        <div class="panel-body" id="public-members">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                {% endif %}
            {% elif the_user_is_confirmed == False and ( the_user_is_superuser == False ) %}
                {% trans %}Your membership is pending - ask a band member to confirm you!{% endtrans %}
            {% else %}
                {% if the_pending_members %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Pending Members{% endtrans %} <span class="badge">{{the_pending_members|length}}</span>
                            </div>
                        </div>        
                        <div class="panel-body">
                            {% for m in the_pending_members %}
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-4">
                                    {{ m.name|e }}
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8">
                                    <a class="btn btn-default btn-sm" href="/band_confirm_member?do=1&mk={{m.key.urlsafe()}}&bk={{the_band.key.urlsafe()}}">{% trans %}yes, confirm member!{% endtrans %}</a>
                                    <a class="btn btn-default btn-sm" href="/band_removemember?mk={{m.key.urlsafe()}}&bk={{the_band.key.urlsafe()}}">{% trans %}no, reject!{% endtrans %}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div> <!-- panel -->        
                {% endif %}
                
                {% if the_invited_members %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Invited Members{% endtrans %} <span class="badge">{{the_invited_members|length}}</span>
                            </div>
                        </div>        
                        <div class="panel-body">
                            {% for m in the_invited_members %}
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    {{ m[1] }}
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <a href="/member_delete_invite?ak={{m[0].urlsafe()}}">{% trans %}forget the invite{% endtrans %}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div> <!-- panel -->        
                {% endif %}

                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            {% if num_sections == 0 %}
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <div class="panel-title">{% trans %}Members{% endtrans %}</div>
                                </div>
                            {% else %}
                                <div class="col-md-2 col-sm-2 col-xs-3 panel-title">
                                    {% trans %}Sections{% endtrans %}
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-7 panel-title">
                                    {% trans %}Members{% endtrans %}
                                </div>
                            {% endif %}
                            {% if num_sections > 1 and (the_user_is_superuser or the_user_is_band_admin) %}
                                <div class="col-md-2 col-sm-2 col-xs-2 panel-title">
                                    {% trans %}Order{% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                    </div>        
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0" id="sectionlist">
                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                            </div>
                        </div>
                        <div class="row">
                            {% if the_user_is_superuser or the_user_is_band_admin %}
                                <div class="col-md-4 col-md-offset-0">
                                    <br>
                                    <a data-toggle="modal" href="#newsectionmodal" class="btn btn-primary btn-sm" id="{{the_band.key.urlsafe()}}">{% trans %}Add a Section{% endtrans %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- panel -->
                        
                    </div>
                </div>

                {% if the_user_is_band_admin or the_user_is_superuser %}   
                <div class="panel-group" id="accordion"> 
                    <div class="panel panel-default panel-overflowable">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <div class="panel-title">
                                    {% trans %}Member Admin{% endtrans %}
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-0">
                                        <a class="btn btn-primary btn-sm" href="band_invite.html?bk={{ the_band.key.urlsafe() }}">{% trans %}Invite Members{% endtrans %}</a>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-0" id="memberlist">
                                        <i class="fa fa-spinner fa-spin fa-lg"></i>
                                    </div>
                                </div>
                            </div>
                        <//div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block modal %}
    {% if the_user_is_superuser or the_user_is_band_admin %}
	<!-- Modal -->
    <div class="modal fade" id="newsectionmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="modal-form" accept-charset="UTF-8" data-remote="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Add a Section{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="newsectioninput" class="control-label">{% trans %}New Section{% endtrans %}</label>
                                <input type="text form-control" id="newsectioninput" placeholder="Section Name" name="new_section">
                            </div>
                        </form>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                        <input type="submit" class="btn btn-primary" id="savenewsection" value="{% trans %}Save{% endtrans %}">
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	{% endif %}					
{% endblock modal %}

{% block localscripts %}
<script src="/js/jquery.validate.js"></script>
<!-- bxSlider Javascript file -->
<script src="/js/jquery.bxslider.min.js"></script>
<script>
function updateUpcoming() {
    if (document.getElementById('upcoming-gigs')) {
        $.post('/band_get_upcoming',
            {
                bk: '{{ the_band.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('upcoming-gigs').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
    }
}

function updatePublic() {
    if (document.getElementById('public-members')) {
        $.post('/band_get_public_members',
            {
                bk: '{{ the_band.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('public-members').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
    }
}

function updateMembers() {
    if (document.getElementById('memberlist')) {
        $.post('/band_get_members',
                {
                    bk: '{{ the_band.key.urlsafe() }}'
                },
                function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        document.getElementById('memberlist').innerHTML=responseTxt;
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                });
    }
}

function updateSections() {
    if (document.getElementById('sectionlist')) {
        $.post('/band_get_sections',
                {
                    bk: '{{ the_band.key.urlsafe() }}'
                },
                function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        document.getElementById('sectionlist').innerHTML=responseTxt;
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                });
    }
}

function handle_new_section() {
    $('#newsectionmodal').modal('hide');
    name=document.getElementById('newsectioninput').value;
    $('#newsectioninput').val(''); // reset the placeholder
    $.post("/band_new_section",
            {
                bk: "{{the_band.key.urlsafe()}}",
                section_name: name
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function move(dir,sk) {
    $.post("/band_move_section",
            {
                dir: dir,
                sk: sk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function delete_section(sk) {
    $.post("/band_delete_section",
            {
                sk: sk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function member_section(mk, sk) {
    var bk='{{the_band.key.urlsafe()}}';
    $.post('/member_set_section',
            {
                mk: mk,
                sk: sk,
                bk: bk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    setTimeout(function(){updateSections(); updateMembers();}, 1000);
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function multi_select(mk) {
    elem=document.getElementById("msbk-"+mk)
    var bk='{{the_band.key.urlsafe()}}';
    $.post('/member_set_multi',
            {
                mk: mk,
                bk: bk,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function admin_select(ak) {
    elem=document.getElementById("aak-"+ak)
    $.post('/band_makeadmin',
            {
                ak: ak,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function occasional_select(ak) {
    elem=document.getElementById("oak-"+ak)
    $.post('/band_makeoccasional',
            {
                ak: ak,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}


$(document).ready(function() {
    updateMembers();
    updateSections();
    updateUpcoming();
    updatePublic();
    $("#modal-form").validate({
        rules: {
            new_section: {
                required: true
            }
        },
        messages: {
            new_section: {
                required: "{% trans %}This field is required!{% endtrans %}"                
            }            
        },        
        submitHandler: handle_new_section
    });
    $('.bxslider').bxSlider({
        auto: true,
        controls: true,
        autoStart: ($(".bxslider>li").length > 1) ? true: false,
        pager: false
    });
});
</script>
{% endblock localscripts %}