{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Forum{% endtrans %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% trans %}Forum for{% endtrans %} {{ the_band.name }}
        </div> 
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% trans %}Discussions{% endtrans %}
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
                                <a data-toggle="modal" href="#newtopicmodal" class="btn btn-primary btn-sm" id="{{the_band.key.urlsafe()}}">{% trans %}Add A Topic{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% if the_topics %}
                        {% for a_topic in the_topics %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href='/forum_topic?tk={{a_topic.key.urlsafe()}}'>{{ the_topic_titles[loop.index0] }}</a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                        {% trans %}last update{% endtrans %} {{ the_date_formatter(the_user,a_topic.last_update,'long') }}
                                </div>
                            </div>
                            {% if not loop.last %}
                                <hr>
                            {% endif %}                        
                        {% endfor %}
                    {% else %}
                        {% trans %}Nothing to talk about!{% endtrans %}
                    {% endif %}
                </div>
            </div> <!-- panel -->
        </div>
    </div>
{% endblock content %}


{% block modal %}
	<!-- Modal -->
    <div class="modal fade" id="newtopicmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="newtopic-modal-form" accept-charset="UTF-8" data-remote="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Add A Topic{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="newtopicinput" class="control-label">{% trans %}Topic Title{% endtrans %}</label>
                                <input type="text form-control" id="newtopicinput" placeholder="Topic" name="new_topic">
                            </div>
                        </form>                    
                    </div>
                    <div class="modal-footer">                    
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                        <input type="submit" class="btn btn-primary" id="savenewtopic" onclick='handle_new_topic()' value="{% trans %}Create{% endtrans %}">
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock modal %}

{% block localscripts %}
<script src="/js/jquery.validate.js"></script>
<script>
function handle_new_topic() {

    $('#newtopicmodal').modal('hide');
    name=document.getElementById('newtopicinput').value;
    $('#newtopicinput').val(''); // reset the placeholder
    $.post("/forum_new_topic",
            {
                fk: "{{the_forum_key.urlsafe()}}",
                t: name,
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateTopic();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

$(document).ready(function() {    
    $("#newtopic-modal-form").validate({
        rules: {
            new_topic: {
                required: true
            }
        },
        messages: {
            new_section: {
                required: "{% trans %}This field is required!{% endtrans %}"                
            }            
        },        
        submitHandler: handle_new_topic
    });
});
</script>
{% endblock localscripts %}