<table class="table table-striped">
{% for the_assoc in the_assocs %}
    {% if the_assoc['is_confirmed'] %}
        <tr>
        <td>
            <a href='/member_info.html?mk={{the_assoc['member_key'].urlsafe()}}'>{{ the_assoc['name'] }}</a>
        </td>
        {% if the_user_is_superuser or the_user_is_band_admin==True %} 
            {% if the_assoc['member_key']!=the_user.key %}
                <td>
                    {% if the_assoc['is_band_admin']==False %}
                        <a href="/band_makeadmin?do=1&mk={{the_assoc['member_key'].urlsafe()}}&bk={{the_band_key.urlsafe()}}">make band admin</a>
                    {% elif the_assoc['is_band_admin']==True %}
                        admin (<a href="/band_makeadmin?do=0&mk={{the_assoc['member_key'].urlsafe()}}&bk={{the_band_key.urlsafe()}}">remove</a>)
                    {% endif %}
                </td>
                <td>
                    <a href="/band_removemember?mk={{the_assoc['member_key'].urlsafe()}}&bk={{the_band_key.urlsafe()}}">remove from band</a>
                </td>
            {% else %}
                <td>(me)</td>
            {% endif %}
        {% endif %}
        </tr>
    {% endif %}
{% endfor %}
</table>
