{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Archive{% endtrans %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        <div class="page-header">
            {{ _('history_title') | replace('BandName','<a href=/band_info.html?bk='+the_band.key.urlsafe()+'>'+the_band.name+'</a>') }}
        </div>
    </div>
</div>
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        <br>
        <a class="btn btn-primary btn-sm" href="archive_spreadsheet?bk={{the_band.key.urlsafe()}}"><i class="fas fa-download"></i> Download Archive</a>
        <br><br>
    </div>
</div>
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        {% if the_gigs | length > 0 %}
            {% for gig in the_gigs %}
                <div class="row">
                    <div class="col-4">
                        {{ the_date_formatter(the_user, gig.date, 'short') }}
                    </div>
                    <div class="col-8">
                        <a href="/gig_info.html?gk={{ gig.key.urlsafe() }}">{{ gig.title }}</a><br>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% trans %}There are no gigs in the archive!{% endtrans %}
        {% endif %}
    </div>
</div>
{% endblock content %}
