{% extends 'go2base.html' %}

{% block title %}{% trans %}Invite Members{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="mx-auto col-lg-8 col-md-10 col-12">
	        <div class="page-header">
	            <h2>{{ the_band.name }}</h2>
	        </div> 
	    </div>
        <div class="mx-auto col-lg-8 col-md-10 col-12">
            {% trans %}invite_instructions{% endtrans %}
        </div> 
        <div class="mx-auto col-lg-8 col-md-10 col-12">
        	&nbsp;
	    </div>
       <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
            <label for="banddescriptioninput" class="control-label">{% trans %}Emails:{% endtrans %}</label>
            <textarea class="form-control" rows="10" id="inviteinput" placeholder="{% trans %}foo@bar.org{% endtrans %}" name="invite_input"></textarea>
        </div>
        <div class="mx-auto col-lg-8 col-md-10 col-12">
        	&nbsp;
	    </div>
		<div class="mx-auto col-lg-8 col-md-10 col-sm-12 text-right">
            <a class="btn btn-secondary" href="band_info.html?bk={{the_band.key.urlsafe()}}">{% trans %}Cancel{% endtrans %}</a>
            <button class="btn btn-primary" onclick="do_invite('{{the_band.key.urlsafe()}}');">{% trans %}Send Invites{% endtrans %}</button>
        </div>
    </div>
    
{% endblock content %}


{% block modal %}
    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock modal %}

{% block localscripts %}
<script>
function do_invite(bk) {
    $.post("/band_send_invites",
                {
                    bk: bk,
                    e: $('#inviteinput').val()
                },
                function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        $('#modal-content').html(responseTxt)
                        $('#inviteModal').modal('show');
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                });
    
}
</script>

{% endblock localscripts %}