{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Archive{% endtrans %}{% endblock title %}

{% block headcontent %}
<!-- bxSlider CSS file -->
<link href="/css/jquery.bxslider.css" rel="stylesheet" />

{% endblock headcontent %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% trans %}The history of{% endtrans %} {{ the_band.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for gig in the_gigs %}
                <div class="col-md-2 col-md-offset-2">
                    {{ the_date_formatter(the_user, gig.date, 'short') }}
                </div>
                <div class="col-md-6">
                    <a href="/gig_info.html?gk={{ gig.key.urlsafe() }}">{{ gig.title }}</a><br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
