{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container">

    <div class="starter-template">
        <div class="row">
            <div class="col-md-5 col-md-offset-2"><h1>Band Profile</h1></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Info
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% if nav_info['is_me'] or nav_info['is_admin'] %}
                        <div class="col-md-4 col-md-offset-2">
                            <a class="btn btn-primary btn-sm" href="band_edit.html?bk={{ the_band.key.urlsafe() }}">Edit</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">Name</div>
                    <div class="col-md-8">{{ the_band.name|e }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">Website</div>
                    <div class="col-md-8"><a href="http://{{the_band.website}}" target="new">{{ the_band.website|e }}</a></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">Description</div>
                    <div class="col-md-8">{{ the_band.description|e }}</div>
                </div>
            </div>
        </div> <!-- panel -->
        {% if the_status == -1 %}        
        {% elif the_status == 0 %}
            Your membership is pending - ask a band member to confirm you!
        {% else %}
            {% if the_pending_members %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Pending Members <span class="badge">{{the_pending_members|length}}</span>
                        </h4>
                    </div>        
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <table class="table">
                                {% for m in the_pending_members %}
                                    <tr>
                                        <td width="20%">
                                            {{ m.name|e }}
                                        </td>
                                        <td width="80">
                                            <a class="btn btn-default btn-sm" onclick="confirm_member_for_band('{{m.key.urlsafe()}}','{{the_band.key.urlsafe()}}')" href="#">yes, confirm member!</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- panel -->        
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Members
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" id="memberlist">
                            <i class="icon-spinner icon-spin icon-large"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Sections
                    </h4>
                </div>        
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" id="sectionlist">
                            <i class="icon-spinner icon-spin icon-large"></i>
                        </div>
                    </div>
                    <div class="row">
                        {% if nav_info['is_admin'] %}
                            <div class="col-md-4 col-md-offset-2">
                                <a data-toggle="modal" href="#newsectionmodal" class="btn btn-primary btn-sm" id="{{the_band.key.urlsafe()}}">Add a Section</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- panel -->
        {% endif %}
    </div> <!-- starter-template -->
	<!-- Modal -->
    <div class="modal fade" id="newsectionmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add a Section</h4>
                </div>
                <div class="modal-body">
                    <form id="modal-form" accept-charset="UTF-8" onsubmit="return handle_new_section();" data-remote="true">
                        <div class="form-group">
                            <label for="newsectioninput" class="control-label">New Section</label>
                            <input type="text form-control" id="newsectioninput" placeholder="Section Name" name="new_section">
                        </div>
                    </form>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="savenewsection">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->												
</div><!-- /.container -->
{% include 'scripts.html' %}

<script>
function updateMembers() {
    $.post('/band_get_members',
            {
                bk: '{{ the_band.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('memberlist').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function updateSections() {
    $.post('/band_get_sections',
            {
                bk: '{{ the_band.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('sectionlist').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function handle_new_section() {
    $('#newsectionmodal').modal('hide');
    name=document.getElementById('newsectioninput').value;
    $('#newsectioninput').val(''); // reset the placeholder
    $.post("/band_new_section",
            {
                bk: "{{the_band.key.urlsafe()}}",
                section_name: name
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function move(dir,sk) {
    $.post("/band_move_section",
            {
                dir: dir,
                sk: sk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function delete_section(sk) {
    $.post("/band_delete_section",
            {
                sk: sk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

function confirm_member_for_band(mk, bk) {
    $.post("/band_confirm_member",
            {
                mk: mk,
                bk: bk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateSections();
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

$(document).ready(function() {
    updateMembers();
    updateSections();
    $("#savenewsection").click(handle_new_section);
});
</script>
{% include 'footer.html' %}
