
{% for the_section in the_members_by_section %}
    {% if the_section[0] %}
        {% set the_section_obj = the_section[0].get() %}
    {% endif %}
    <div class="row" style="padding-top: 5px; padding-bottom: 5px; {{ loop.cycle('', 'background:#f5f5f5;') }}">
        {% if num_sections > 0 %}
            <div class="col-md-2 col-sm-2 col-xs-3 gomlabel">
                {% if the_section[0] %}
                    {{the_section_obj.name}}
                {% else %}
                    {% trans %}No Section{% endtrans %}
                {% endif %}
            </div>
        {% endif %}
        <div class="col-md-6 col-sm-6 col-xs-9">
            {% if the_section[1] %}
                {% for the_assoc in the_section[1] %}
                        {% set the_member = the_assoc.member.get() %}
                        <div class="row">
                        	<div class="col-md-6">
		                        <a href='/member_info.html?mk={{the_member.key.urlsafe()}}'>{% if the_member.nickname %}{{the_member.nickname}}{% else %}{{ the_member.name }}{% endif %}</a>
		                        {% if the_assoc.is_occasional %}
		                            ({% trans %}occasional{% endtrans %})
		                        {% endif %}
		                        {% if the_assoc.is_new %}
		                            <i class="fa fa-star" style="color:green"></i>
		                        {% endif %}
		                    </div>
                        	<div class="col-md-6 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
                        		<a href="mailto:{{the_member.email_address}}">{{ the_member.email_address }}</a>
                        	</div>
	                    </div>
                {% endfor %}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
{% endfor %}
    {% if someone_is_new %}
    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <i class="fa fa-star" style="color:green"></i>&nbsp;{% trans %}new members{% endtrans %}
        </div>
    </div>
{% endif %}
