{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Edit{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">    
        <div class="page-header">
            {% if newband_is_active %}
                {% trans %}New Band{% endtrans %}
            {% else %}
                {% trans %}Edit Band{% endtrans %}
            {% endif %}
        </div>
        <form id="infoform" class="form" role="form" method="post" action="band_edit.html">
            <div class="form-group">
                <label for="bandnameinput" class="col-form-label">{% trans %}Name{% endtrans %}</label>
                <input type="text" class="form-control" id="bandnameinput" placeholder="{% trans %}what's it called?{% endtrans %}" value="{{the_band.name}}" name="band_name">
            </div>
            <div class="form-group">
                <label for="bandshortnameinput" class="col-form-label">{% trans %}Short Name{% endtrans %}</label>
                <input type="text" class="form-control" id="bandshortnameinput" placeholder="{% trans %}whts it clld?{% endtrans %}" value="{{the_band.shortname}}" name="band_shortname">
            </div>
            <div class="form-group">
                <label for="bandhometowninput" class="col-form-label">{% trans %}Hometown{% endtrans %}</label>
                <input type="text" class="form-control" id="bandhometowninput" placeholder="{% trans %}where are you?{% endtrans %}" name="band_hometown" value="{{the_band.hometown}}">
            </div>
            <div class="form-group">
                <label for="banddescriptioninput" class="col-form-label">{% trans %}Description{% endtrans %}</label>
                <textarea class="form-control" rows="10" id="banddescriptioninput" placeholder="{% trans %}tell us a little about the band{% endtrans %}" name="band_description">{% if the_band.description %}{{the_band.description}}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="bandmemberlinksinput" class="col-form-label">{% trans %}Member Links{% endtrans %}</label>
                <textarea class="form-control" rows="10" id="bandmemberlinksinput" placeholder="{% trans %}Links to member resources, one per line, like this -> label: http://link_to_thing"{% endtrans %}" name="band_member_links">{% if the_band.member_links %}{{the_band.member_links}}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="bandwebsiteinput" class="col-form-label">{% trans %}Website{% endtrans %}</label>
                <input type="text" class="form-control" id="bandwebsiteinput" placeholder="www.yourband.org" value="{% if the_band.website %}{{the_band.website}}{% endif %}" name="band_website">
            </div>
            <div class="form-group">
                <label for="bandnewmembermessageinput" class="col-form-label">{% trans %}New Member Message{% endtrans %}</label>
                <button type="button" class="btn btn-secondary btn-sm" onclick="test_new_member_email();">test</button> <span id="testedtext"></span>
                <textarea class="form-control" rows="10" id="bandnewmembermessageinput" placeholder="{% trans %}Welcome!{% endtrans %}"
                name="new_member_message">{% if the_band.new_member_message %}{{the_band.new_member_message}}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="bandthumbnailinput" class="col-form-label">{% trans %}Thumbnail Image for Band Navigator Page{% endtrans %}</label>
                <input type="text" class="form-control" id="bandthumbnailinput" placeholder="{% trans %}url of 200x300 picture for band navigtor page{% endtrans %}" value="{% if the_band.thumbnail_img %}{{the_band.thumbnail_img}}{% endif %}" name="band_thumbnail">
                ({% trans %}thumbnail_instructions{% endtrans %})
            </div>
            <div class="form-group">
                <label for="bandimageinput" class="col-form-label">{% trans %}Public Page Images{% endtrans %}</label>
                <textarea class="form-control" rows="10" id="bandimageinput" placeholder="{% trans %}put urls to images on their own lines...{% endtrans %}" name="band_images">{% if the_band.images %}
{% for i in the_band.images %}{{i}}
{% endfor %}
                {% endif %}</textarea>
                ({% trans %}imagelink_instructions{% endtrans %})
            </div>
            <div class="form-group">
                <label for="bandtimezoneinput" class="col-form-label">{% trans %}Time Zone{% endtrans %}</label>
                <select class="form-control" id="bandtimezoneinput" name="band_timezone">
                    {% for tz in timezones %}
                        <option value="{{tz}}" {% if the_band.timezone==tz %}selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandanyonecancreategigs" name="band_anyonecancreategigs"
                    {% if the_band.anyone_can_create_gigs %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandanyonecancreategigs">{% trans %}Let any member create gigs{% endtrans %}</label>
                </div>  
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandanyonecanmanagegigs" name="band_anyonecanmanagegigs"
                    {% if the_band.anyone_can_manage_gigs %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandanyonecanmanagegigs">{% trans %}Let any member edit and delete gigs{% endtrans %}</label>
                </div>  
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandsharegigs" name="band_sharegigs"
                    {% if the_band.share_gigs %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandsharegigs">{% trans %}Let non-members see upcoming gigs{% endtrans %}</label>  
                </div>  
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandsendupdatesbydefault" name="band_sendupdatesbydefault"
                    {% if the_band.send_updates_by_default %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandsendupdatesbydefault">{% trans %}Send gig updates by default{% endtrans %}<label class="form-check-label" for="bandanyonecanmanagegigs"> 
                </div>  
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandenablerss" name="band_enablerss"
                    {% if the_band.rss_feed %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandenablerss">{% trans %}Enable RSS feed{% endtrans %}</label>  
                </div>  
            </div>
            <div class="form-group">
                <div class="form-check">  
                    <input class="form-check-input" type="checkbox" id="bandsimpleplan" name="band_simpleplan"
                    {% if the_band.simple_planning %}
                        checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="bandsimpleplan">{% trans %}Use simple planning pop-up (yes/maybe/no){% endtrans %}</label>   
                </div>  
            </div>
            <div class="form-group">
                <label for="bandfeedback" class="col-form-label">{% trans %}Extra Feedback{% endtrans %}</label>
                <textarea class="form-control" rows="10" id="bandfeedback" placeholder="{% trans %}items for second planning popup (BETA!){% endtrans %}" name="band_feedback">{% if the_band.plan_feedback %}{{the_band.plan_feedback }}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <div class="text-right">
                    {% if the_member==None or is_new %}
                        <a class="btn btn-secondary" href="/">{% trans %}Cancel{% endtrans %}</a>
                    {% else %}
                        <a class="btn btn-secondary" href="band_info.html?bk={{the_band.key.urlsafe()}}">{% trans %}Cancel{% endtrans %}</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
            {% if the_member==None or is_new%}
                <input type="hidden" name="bk" value="0">
            {% else %}
                <input type="hidden" name="bk" value="{{the_band.key.urlsafe()}}">
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}

{% block localscripts %}
<script src="/js/jquery.validate.js"></script>
<script>
function test_new_member_email() {
    $('#testedtext').html('<i class="fa fa-spinner fa-spin"></i>');
    $.post('/band_edit_test_new_member_message',
        {
        	{% if the_band %}
	            bk: "{{the_band.key.urlsafe()}}",
	        {% endif %}
            msg: $('#bandnewmembermessageinput').val()
        },
        function(responseTxt,statusTxt,xhr){
            if(statusTxt=="success")
                $('#testedtext').html('<i class="fa fa-check"></i>');
            if(statusTxt=="error")
                alert("Error: "+xhr.status+": "+xhr.statusText);
        });

}

$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            band_name: {
                required: true
            },
        },
        messages: {
            band_name: {
                required: "{% trans %}This field is required!{% endtrans %}"                
            }            
        }
    });
});
</script>
{% endblock localscripts %}

