{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        {% if newband_is_active %}
            <div class="col-md-5 col-md-offset-2"><h1>New Band</h1></div>
        {% else %}
            <div class="col-md-5 col-md-offset-2"><h1>Edit Band</h1></div>
        {% endif %}
    </div>
    <form class="form-horizontal" role="form" method="post" action="band_edit.html">
        <div class="row">
            <div class="form-group">
                <label for="bandnameinput" class="col-md-2 col-md-offset-1 control-label">Name</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="bandnameinput" placeholder="{{the_band.name}}" name="band_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="bandwebsiteinput" class="col-md-2 col-md-offset-1 control-label">Website</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="bandwebsiteinput" placeholder="{{the_band.website}}" name="band_website">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="banddescriptioninput" class="col-md-2 col-md-offset-1 control-label">Description</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="memeberdescriptionnput" placeholder="{{the_band.description}}" name="band_description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4 col-md-offset-5 text-right">
                    {% if the_member==None or is_new %}
                        <a class="btn btn-default" href="agenda.html">Cancel</a>
                    {% else %}
                        <a class="btn btn-default" href="band_info.html?bk={{the_band.key.urlsafe()}}">Cancel</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>            
    {% if the_member==None or is_new%}
        <input type="hidden" name="bk" value="0">
    {% else %}
        <input type="hidden" name="bk" value="{{the_band.key.urlsafe()}}">
    {% endif %}
    </form>
{% endblock content %}

{% block modal %}
    {% if is_new == False %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete this band?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Don't Delete</button>
                        <a class="btn btn-primary" id="opener" href="band_delete?bk={{ the_band.key.urlsafe() }}">Delete</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock modal %}

