{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Sections{% endtrans %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="page-header mx-auto col-lg-8 col-md-10 col-sm-12">
        {{ the_band.name }}
        {% if the_user_is_associated and the_band.shortname %}
            <br>
            ({% trans %}a.k.a.{% endtrans %}&nbsp;{{ the_band.shortname }})
        {% endif %}
    </div> 
</div>

<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <div class="panel-title">{% trans %}Sections{% endtrans %}</div>
                                </div>
                            </div>
                        </div>        
                        <div class="card-body">
                            <div id="theList">
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <br>
                                    <button class="btn btn-primary btn-sm" onclick="addSection(); return false;">{% trans %}Add a Section{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- panel -->                        
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-right">
                    <a class="btn btn-secondary" href="band_info.html?bk={{ the_band.key.urlsafe() }}">{% trans %}Cancel{% endtrans %}</a>
                    <a class="btn btn-primary" href="#" onclick="saveButton(); return false;">{% trans %}Save{% endtrans %}</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block localscripts %}
<script>

var theSectionArray = new Array();
var theDeletedSections = new Array();

function updateSectionList() {
    var theHTML = "";

    bg = false;
    if (theSectionArray.length > 0) {
        for (i=0; i< theSectionArray.length; i++){

            theHTML += "<div class='row' style='padding-top: 5px; padding-bottom: 5px;"
            if (bg) {
                theHTML += "background:#f5f5f5;";
            }
            theHTML += "'>";

            theHTML += "<div class='col-auto'>";
            theHTML += "<input type='text' value='" + theSectionArray[i][0] + "' placeholder='{% trans %}name of section{% endtrans %}' onchange=sectionChange("+i+",this.value);>";
            theHTML += "</div>"

            theHTML += "<div class='col-1'>";
            theHTML += "<a class='btn btn-default btn-sm' onclick='deleteSection("+i+"); return false;' href='#'><i class='fas fa-times-circle fa-lg'></i></a>";
            theHTML += "</div>";


            theHTML += "<div class='col-1'>";
            theHTML += "<a class='btn btn-default btn-sm' onclick='moveSection("+i+",-1); return false' id='up"+i+"'><i class='fas fa-arrow-circle-up fa-lg'></i></a>";
            theHTML += "</div>";

            theHTML += "<div class='col-1'>";
            theHTML += "<a class='btn btn-default btn-sm' onclick='moveSection("+i+",1); return false' id='dn"+i+"'><i class='fas fa-arrow-circle-down fa-lg'></i></a>";
            theHTML += "</div>";


            theHTML += "</div>";
            bg = !bg;
        }

        $("#theList").html(theHTML);
        $("#up0").hide();
        $("#dn"+(theSectionArray.length-1)).hide();

    } else {
        theHTML = "{% trans %}No Sections!{% endtrans %}";
        $("#theList").html(theHTML);
    }

}

function moveSection(which,where) {
    var tmp = theSectionArray[which];
    theSectionArray[which] = theSectionArray[which+where];
    theSectionArray[which+where] = tmp;
    updateSectionList();
}

function deleteSection(which) {
    theDeletedSections.push(theSectionArray[which][1]);
    theSectionArray.splice(which,1);
    updateSectionList();
}

function addSection() {
    theSectionArray.push(["{% trans %}New Section{% endtrans %}","","{% trans %}New Section{% endtrans %}"]);
    updateSectionList();
}

function sectionChange(which,what) {
    if (what == "") {
        updateSectionList();
    } else {
        theSectionArray[which][0] = what;
    }

}

function saveButton() {
    $.post("/band_setup_sections",
                {
                    bk: "{{ the_band.key.urlsafe() }}",
                    sectionInfo: JSON.stringify(theSectionArray),
                    deletedSections: JSON.stringify(theDeletedSections)
                },
                function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        window.location.replace("/band_info.html?bk={{the_band.key.urlsafe()}}");
                    if(statusTxt=="error")
                      alert("{% trans %}Error{% endtrans %}: "+xhr.status+": "+xhr.statusText);
                });
}


$(document).ready(function() {
    theSectionArray = JSON.parse('{{the_info}}')
    updateSectionList();
});
</script>
{% endblock localscripts %}