<table class="table table-striped">
{% for the_section in the_members_by_section %}
    <tr>
    <td>
        {% if the_section[0] %}
            {{the_section[0].get().name}}
        {% else %}
            No Section
        {% endif %}
    </td>
    <td>
        {% for the_member_key in the_section[1] %}
            <a href='/member_info.html?mk={{the_member_key.urlsafe()}}'>{{ the_member_key.get().name }}</a><br>
        {% endfor %}
    </td>
    {% if not the_section[1] and the_section[0] and (the_user_is_superuser or the_user_is_band_admin) %} 
    <td>
        <a class="btn btn-default btn-sm" onclick="delete_section('{{the_section[0].urlsafe()}}')"href="#">Delete Section</a>
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% if (the_user_is_superuser or the_user_is_band_admin) and the_section[0] %}
        {% if loop.first %}
            <td></td>
            <td><a class="btn btn-default btn-sm movesection" onclick="move(0,'{{the_section[0].urlsafe()}}')" href="#"><i class="icon-circle-arrow-down icon-large"></i></a></td>
        {% elif loop.last or (loop.index == loop.length-1 and the_members_by_section[loop.length-1][0]==None) %}
            <td><a class="btn btn-default btn-sm movesection" onclick="move(1,'{{the_section[0].urlsafe()}}')"  href="#"><i class="icon-circle-arrow-up icon-large"></i></a></td>
            <td></td>
        {% else %}
            <td><a class="btn btn-default btn-sm movesection" onclick="move(1,'{{the_section[0].urlsafe()}}')"  href="#"><i class="icon-circle-arrow-up icon-large"></i></a></td>
            <td><a class="btn btn-default btn-sm movesection" onclick="move(0,'{{the_section[0].urlsafe()}}')"  href="#"><i class="icon-circle-arrow-down icon-large"></i></a></td>
        {% endif %}
    {% else %}
        <td></td>
        <td></td>
    {% endif %}
    </tr>
{% endfor %}
</table>
