{% extends 'go2base.html' %}
{% import 'plan_icon.html' as plan_icon %}

{% block title %}{% trans %}Band Navigator{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        <div class="page-header">
            {% trans %}Band Navigator{% endtrans %}
        </div>
        <div>&nbsp;</div>
        {% for b in the_bands if b.show_in_nav%}
            <div class="row">
                <div class="col-12">
                    <a href="/band_info.html?bk={{b.key.urlsafe()}}">{{ b.name }}</a> 
                    {% if b.hometown %}({{ b.hometown }}){% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block localscripts %}
<script src="/js/jquery.truncator.js"></script>
<script>

{#
    http://stackoverflow.com/questions/9278569/equals-heights-of-thumbnails
#}
(function ($) {
    $.fn.uniformHeight = function () {
        var maxHeight = 0,
            wrapper,
            wrapperHeight;

        return this.each(function () {

            // Applying a wrapper to the contents of the current element to get reliable height
            wrapper = $(this).wrapInner('<div class="wrapper" />').children('.wrapper');
            wrapperHeight = wrapper.outerHeight();

            maxHeight = Math.max(maxHeight, wrapperHeight);

            // Remove the wrapper
            wrapper.children().unwrap();

        }).height(maxHeight);
    }
})(jQuery);

$(document).ready(function() {
    $('.trunc').truncate({max_length: 500, more:"...{% trans %}more{% endtrans %}", less:"{% trans %}less{% endtrans %}"});
    setTimeout(function()
                {  $('.thumbnails').find('.thumbnail').uniformHeight(); }
            , 100);
});

$(window).resize(function () {
    $('.thumbnails').find('.thumbnail').uniformHeight();
});

</script>
{% endblock localscripts %}