{% extends 'go2base.html' %}

{% block title %}{% trans %}Calendar Help!{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header mx-auto col-md-10 col-12">
        {% trans %}Calendar Help!{% endtrans %}
    </div>
</div>
<div class="row">
    <div class="mx-auto col-md-10 col-12">
        {% trans %}calhelp_1{% endtrans %}
        <br><br>
        {% trans %}calhelp_2{% endtrans %}
        <br><br>
        http://www.gig-o-matic.com/cal/m/{{member.key.urlsafe()}}
        <br><br>
        <strong>{% trans %}Subscribing in Google Calendar{% endtrans %}</strong>: {% trans %}calhelp_3{% endtrans %}
        <br><br>
        <strong>{% trans %}Subscribing in Apple Calendar{% endtrans %}</strong>: {% trans %}calhelp_4{% endtrans %}
        <br><br>
        <strong>{% trans %}Subscribing in Outlook{% endtrans %}</strong>: {% trans %}calhelp_5{% endtrans %}
        <br><br>
        <a href="/member_info.html?mk={{member.key.urlsafe()}}">{% trans %}Return to profile{% endtrans %}</a>        
{#
        The Gig-o-Matic can provide calendar information to Google Calendar, Apple Calendar, and other calendar tools that work with the "CalDav" protocol. Here's how to do it!
        <br><br>
        First, copy the subscription address. Your personalized address is:<br><br>
        http://www.gig-o-matic.com/m/{{member.key.urlsafe()}}
        <br><br>
        <strong>Subscribing in Google Calendar</strong>: In the "Other Calendars" menu select "Add by URL" - paste the calendar address into the dialog, and the gig-o calendar will appear in your calendar list.
        
        <br><br>
        <strong>Subscribing in Apple Calendar</strong>: Select "New Calendar Subscription" from the "File" menu - paste the calendar address into the dialog, and a new dialog will open where you can give the calendar a useful name, etc.
        <br><br>
        <a href="/member_info.html?mk={{member.key.urlsafe()}}">Return to profile</a>
#}
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


