{% extends 'go2base.html' %}

{% block title %}{% trans %}Calendar{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-1">
            {% trans %}Calendar{% endtrans %}
            {% if the_user.preferences.default_view != 1 %}
            <small>(<a href="/?default=1">{% trans %}Make this my default view!{% endtrans %}</a>)</small>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-0 col-md-10 col-md-offset-1">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock content %}

{% block localscripts %}
    <script src='/js/moment.min.js'></script>
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script src='/fullcalendar/lang/{{the_user.preferences.locale}}.js'></script>
    <script>
    $(document).ready(function() {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            events: {
                url: '/calevents',
                type: 'POST',
                data: {
                    mk: '{{ the_user.key.urlsafe() }}'
                },
                error: function() {
                    alert('there was an error while fetching events!');
                },
                color: 'lightblue',   // a non-ajax option
                textColor: 'black' // a non-ajax option
            }
        })
    });
    </script>
{% endblock localscripts %}

