{% extends 'go2base.html' %}

{% block title %}{% trans %}Calendar{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header page-header mx-auto col-md-10 col-12">
            {% trans %}Calendar{% endtrans %}
            {% if the_user.preferences.default_view != 1 %}
            <small>(<a href="/?default=1">{% trans %}Make this my default view!{% endtrans %}</a>)</small>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-md-10 col-12">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock content %}

{% block localscripts %}
    <script src='/js/moment.min.js'></script>
    <script src='/fullcalendar/fullcalendar.js'></script>
    {% if the_user.preferences.locale != "en" %}
        <script src='/fullcalendar/locale/{{the_user.preferences.locale}}.js'></script>
    {% endif %}
    <script>

    function calCallback(view) {
        mo = $('#calendar').fullCalendar('getDate')
        var stateObj = { foo: "bar" };
        window.history.replaceState(stateObj, "", window.location.origin+window.location.pathname+"?y="+mo.year()+"&m="+mo.month());
    }

    $(document).ready(function() {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            themeSystem: 'bootstrap4',
            events: {
                url: '/calevents',
                type: 'POST',
                data: {
                    mk: '{{ the_user.key.urlsafe() }}'
                },
                error: function() {
                    alert('there was an error while fetching events!');
                },
            },
            eventAfterAllRender: calCallback,
            {% if m and y %}
                defaultDate: moment( [ {{ y }}, {{ m }} ] ),
            {% endif %}
        })
    });
    </script>
{% endblock localscripts %}

