{% extends 'go2base.html' %}

{% block title %}{% trans %}Help!{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2"><h2>{% trans %}Change Log{% endtrans %}</h1></div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul>
            <li>2014-02-24 - Added call, set, and end times to new gig emails.</li>
            <li>2014-02-23 - Added 'invite' feature so admins can bring members in without the whole signup-confirmation loop.</li>
            <li>2014-02-23 - Added change log!</li>
        </ul>
        
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


