{% extends 'go2base.html' %}

{% block title %}{% trans %}Help!{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2"><h2>{% trans %}Change Log{% endtrans %}</h1></div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul>
            <li>2014-03-12 - Only show confirmed gigs on public page; allow bands to hide individual gigs via checkbox.</li>
            <li>2014-03-08 - Added ability to show images of the band right on the band's info page.</li>
            <li>2014-03-05 - Added public access to band into at gigomatic.appspot.com/band/[band name without spaces].</li>
            <li>2014-02-28 - Added ability for bands to declare that only admins can edit gigs.</li>
            <li>2014-02-24 - Added call, set, and end times to new gig emails.</li>
            <li>2014-02-23 - Added 'invite' feature so admins can bring members in without the whole signup-confirmation loop.</li>
            <li>2014-02-23 - Added change log!</li>
        </ul>
        
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


