{% extends 'go2base.html' %}

{% block title %}{% trans %}Credits{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2"><h2>{% trans %}Gig-O-Matic Credits{% endtrans %}</h1></div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% trans %}Gig-O-Matic, version 2!{% endtrans %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% trans %}credits_text{% endtrans %}    
<!-- 
        Written by Aaron Oppenheimer, Second Line Social Aid & Pleasure Society Brass Band. Beta-tested by several intrepid
        members of the band. Guinea-pigged by the whole band. WOO!<br><br>
        Italian translation by Marcello Jatosti. Meraviglioso!
 -->
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% trans %}credits_text2{% endtrans %}<br><br>
<!--         Uses the following awesome (and open!) technology:<br><br> -->
        <ul>
            <li><a href='http://www.python.org' target='new'>Python</a></li>
            <li><a href='http://appengine.google.com/' target='new'>Google App Engine</a></li>
            <li><a href='http://getbootstrap.com' target='new'>Twitter Bootstrap</a></li>
            <li><a href='http://github.com/' target='new'>Github</a></li>
            <li><a href='http://jquery.com/' target='new'>JQuery</a></li>
            <li><a href='http://fortawesome.github.io/Font-Awesome/' target='new'>Font Awesome</a></li>
            <li><a href='http://jqueryui.com/datepicker/' target='new'>Datepicker</a></li>
            <li><a href='http://arshaw.com/fullcalendar/' target='new'>Fullcalendar</a></li>
            <li><a href='http://jqueryvalidation.org/documentation/' target='new'>JQuery Validation</a></li>
            <li><a href='http://vitalets.github.io/x-editable/' target='new'>X-editable</a></li>
            <li><a href='https://github.com/henrik/jquery.truncator.js/' target='new'>Jquery Truncator by Henrik Nyh</a></li>
            <li><a href='http://babel.pocoo.org/' target='new'>Babel</a></li>
            <li><a href='http://www.highcharts.com/' target='new'>Highcharts</a></li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% trans %}credits_text3{% endtrans %}
<!--         The project is on <a href="https://github.com/SecondLiners/GO2.git">github</a> - feel free to fork and/or contribute! -->
    </div>    
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


