{% extends 'go2base.html' %}

{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>{% trans %}Reset Password{% endtrans %}</h3>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% trans %}forgot_message{% endtrans %}<br><br>
<!--
                Forgot your password? Don't feel bad! Enter your email to receive a link to make a new, better, 
                easier-to-remember one.<br><br>
-->
            </div>
        </div>
        {% if not_found %}
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <strong>{% trans %}Not found!{% endtrans %}</strong> {% trans %}We could not found any user with the given username.{% endtrans %}
                </div>
            </div>
        {% endif %} 

        <form class="form form-horizontal" role="form" action= "/forgot" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="username" class="control-label col-md-2 col-md-offset-2">{% trans %}Email Address{% endtrans %}</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{ username }}" name="username"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-4 text-right">
                    <a class="btn btn-default" href="/{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}Cancel{% endtrans %}</a>                
                    <input type="submit" class="btn btn-primary" value="{% trans %}Send password reset link{% endtrans %}"/>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
