{% extends 'go2base.html' %}

{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header">  
                    <h3>{% trans %}Reset Password{% endtrans %}</h3>
                </div>

                {% trans %}forgot_message{% endtrans %}<br><br>

                {% if not_found %}
                    <div>
                        <div class="col-md-5 mx-auto">
                            <strong>{% trans %}Not found!{% endtrans %}</strong> {% trans %}We could not found any user with the given username.{% endtrans %}
                        </div>
                    </div>
                {% endif %} 

                <form class="form form-horizontal" role="form" action= "/forgot" method="POST">
                    <div class="form-group">
                        <label for="username" class="control-label">{% trans %}Email Address{% endtrans %}</label>
                        <input type="text" class="form-control" value="{{ username }}" name="username"/>
                    </div>
                    <div>
                        <a class="btn btn-secondary" href="/{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}Cancel{% endtrans %}</a>                
                        <input type="submit" class="btn btn-primary" value="{% trans %}Send password reset link{% endtrans %}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
