{% extends 'go2base.html' %}

{% block title %}{% trans %}Band Forum{% endtrans %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% if the_band %}
                {% trans %}Forum for{% endtrans %} {{ the_band.name }}
            {% else %}
                {{ the_forum.name }}
            {% endif %}
        </div> 
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a data-toggle="modal" href="#newtopicmodal" class="btn btn-primary btn-sm" id="{{the_forum.key.urlsafe()}}">{% trans %}Add A Topic{% endtrans %}</a>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {% trans %}Topic{% endtrans %}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                {% trans %}Last Update{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="forum_topics">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div> <!-- panel -->
        </div>
    </div>
{% endblock content %}


{% block modal %}
	<!-- Modal -->
    <div class="modal fade" id="newtopicmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="newtopic-modal-form" accept-charset="UTF-8" data-remote="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Add A Topic{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="newtopicinput" class="control-label">{% trans %}Topic Title{% endtrans %}</label>
                                <input type="text form-control" id="newtopicinput" placeholder="Topic" name="new_topic">
                            </div>
                        </form>                    
                    </div>
                    <div class="modal-footer">                    
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                        <input type="submit" class="btn btn-primary" id="savenewtopic" onclick='handle_new_topic()' value="{% trans %}Create{% endtrans %}">
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock modal %}

{% block localscripts %}
<script src="/js/jquery.validate.js"></script>
<script src="/js/forum.js"></script>
<script>
function handle_new_topic() {

    $('#newtopicmodal').modal('hide');
    name=document.getElementById('newtopicinput').value;
    $('#newtopicinput').val(''); // reset the placeholder
    $.post("/forum_new_topic",
            {
                fk: "{{the_forum.key.urlsafe()}}",
                t: name,
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    update_forum_topics('{{the_forum.key.urlsafe()}}');
                if(statusTxt=="error")
                  alert("Error: "+xhr.status+": "+xhr.statusText);
            });

    return false;
}

$(document).ready(function() {    
    $("#newtopic-modal-form").validate({
        rules: {
            new_topic: {
                required: true
            }
        },
        messages: {
            new_section: {
                required: "{% trans %}This field is required!{% endtrans %}"                
            }            
        },        
        submitHandler: handle_new_topic
    });
    update_forum_topics('{{the_forum.key.urlsafe()}}');
});
</script>
{% endblock localscripts %}