{% extends 'go2base.html' %}

{% block title %}{% trans %}Forum Admin{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% trans %}Forum Admin{% endtrans %}
        </div>
    </div>
    <div class="row">
        <div class="panel-group col-md-8 col-md-offset-2" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Public Forums
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" id="memberlist">    
                        {% for forum in the_forums %}
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <a href="/forum?bk={{forum.key.urlsafe()}}">{{ forum.name|e }}</a>
                                </div>
                                <div class="col-md-2">
                                    <a href="/forum_delete?fk={{forum.key.urlsafe()}}">delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        
                        <form class="form" role="form" method="post" action="/forum_add">    
                            <div class="row">
                                <div class="form-group col-md-8 col-md-offset-2">
                                    <label for="forumnameinput" class="control-label">Add Public Forum</label>
                                    <input class="form-control" id="forumnameinput" placeholder="new forum name" name="forum_name">
                                </div>
                            </div>        
                            <div class="form-group col-md-8 col-md-offset-2 text-right">                
                                    <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group col-md-8 col-md-offset-2" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Band Forums
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" id="memberlist">    
                        {% for band in the_bands %}
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <a href="/forum?fk={{band.key.urlsafe()}}">{{ band.name|e }}</a>
                                </div>
                                <div class="col-md-2">
                                    <a href="/forum_delete?fk={{band.key.urlsafe()}}">delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endblock content %}
