<div class="panel-body">
    {% if the_topics %}
        {% for a_topic in the_topics %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href='/forum_topic?tk={{a_topic.key.urlsafe()}}'>{{ the_topic_titles[loop.index0] }}</a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                        {{ the_date_formatter(the_user,a_topic.last_update,'long') }}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    {% if the_user_is_forum_admin or the_user_is_superuser %}
                        {% if a_topic.pinned %}
                            <i class="fa fa-thumb-tack"></i>
                            <a href="/forum_toggle_pin?p={{ a_topic.key.urlsafe() }}&t={{ the_forum_key_str}}">{% trans %}unpin{% endtrans %}</a>
                        {% else %}
                            <a href="/forum_toggle_pin?p={{ a_topic.key.urlsafe() }}&t={{ the_forum_key_str}}">{% trans %}pin{% endtrans %}</a>
                        {% endif %}
                    {% else %}
                        {% if a_topic.pinned %}
                            <i class="fa fa-thumb-tack"></i>
                        {% endif %}
                    {% endif %}                        
                </div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}                        
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% trans %}Nothing to talk about!{% endtrans %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <hr>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-12 col-md-12 text-right">
                {% if the_page > 1 %}
                    <button type="button" class="btn btn-primary" onclick="update_forum_topics('{{the_forum_key_str}}','1',{{the_num_pages}})"><i class="fa fa-fast-backward"></i></button>                
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-fast-backward"></i></button>                
                {% endif %}
                {% if the_page > 1 %}
                    <button type="button" class="btn btn-primary" onclick="update_forum_topics('{{the_forum_key_str}}','{{the_page - 1}}',{{the_num_pages}})"><i class="fa fa-step-backward"></i></button>
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-step-backward"></i></button>                
                {% endif %}
                {% if the_page < the_num_pages %}
                    <button type="button" class="btn btn-primary" onclick="update_forum_topics('{{the_forum_key_str}}','{{the_page + 1}}',{{the_num_pages}})"><i class="fa fa-step-forward"></i></button>
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-step-forward"></i></button>                
                {% endif %}
                {% if the_page < the_num_pages %}
                    <button type="button" class="btn btn-primary" onclick="update_forum_topics('{{the_forum_key_str}}','{{the_num_pages}}',{{the_num_pages}})"><i class="fa fa-fast-forward"></i></button>
                {% else %}
                    <button type="button" class="btn btn-primary disabled"><i class="fa fa-fast-forward"></i></button>                
                {% endif %}
            
        </div>
    </div>
</div>
