{% extends 'go2base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-2"><h2>Archived Gig Info</h1></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Gig</div>
        <div class="col-md-8">{{ gig.title|e }}</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Band</div>
        <div class="col-md-8"><a href="band_info.html?bk={{gig.key.parent().urlsafe()}}">{{ gig.key.parent().get().name|e }}</a></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Date</div>
        <div class="col-md-8">{{ gig.date.strftime('%-m/%-d/%Y')|e }}</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Details</div>
        <div class="col-md-8"><pre>{{ gig.details }}</pre></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Setlist</div>
        <div class="col-md-8"><pre>{{ gig.setlist}}</pre></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">Plans</div>
        <div class="col-md-8"><pre>{{ archived_plans }}</pre></div>
    </div>
{% endblock content %}

