{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info) -%}

{% set the_plan = plan_info['the_plan'] %}
{% set the_plan_key = the_plan.key %}

{% set the_member_key = plan_info['the_member_key'] %}
{% set the_member = the_member_key.get() %}
{% set the_band_key = plan_info['the_band_key'] %}
{% set the_band = the_band_key.get() %}
{% set the_assoc = plan_info['the_assoc'] %}

{% set show_section = False %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% if the_member_key == the_user.key or the_user_is_superuser or the_user_is_band_admin %}
        {% set show_section = True %}
    {% endif %}
{% endif %}

{% set title_lg = 6 %}
{% set title_sm = 6 %}
{% set date_lg = 6 %}
{% set date_sm = 6 %}
{% set grp1_lg = 4 %}
{% set grp1_sm = 4 %}
{% set grp2_lg = 8 %}
{% set grp2_sm = 8 %}

{% if show_section %}
    {% set comment_lg = 7 %}
    {% set comment_sm = 7 %}
    {% set comment_2_lg = 4 %}
    {% set comment_2_sm = 4 %}
    {% set section_lg = 2 %}
    {% set section_sm = 2 %}
{% else %}
    {% set comment_2_lg = 6 %}
    {% set comment_2_sm = 6 %}
    {% set comment_lg = 9 %}
    {% set comment_sm = 9 %}
{% endif %}

<div class="row {% if the_plan.value != 1 and the_plan.value != 2 %}plannotattending{% endif %}">
    <div class="col-4" style="display:flex; align-items:center;" >
        <a href='/member_info.html?mk={{the_member_key.urlsafe()}}'>{{ the_member.display_name }}</a>
    </div>
    {% if the_member_key == the_user.key or the_user_is_superuser or the_user_is_band_admin %}
	    <div class="col-6 btn-group" role="group">
            {{ plan_icon.icon_button(the_plan, the_band.simple_planning) }}
            {% if the_band.plan_feedback %}
                {{ plan_icon.feedback_button(the_plan, the_band.plan_feedback.split('\n') ) }}
            {% endif %}
            {% if show_section %}
                {% if the_plan.member == the_user.key or the_user_is_superuser or the_user_is_band_admin %}
                    {% if get_the_section_keys %}
                        {% set the_section_keys = get_the_section_keys(the_band_key) %}
                    {% endif %}
                    {% set the_section_keys = the_band_key.get().sections %}
                    {% if the_sections and the_sections|length > 1 %}
                        <div class="dropdown mr-2">
                            <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="sel-{{the_plan_key.urlsafe()}}" aria-haspopup="true" aria-expanded="false">
                                {% if the_plan.section == None %}
                                    {% trans %}section{% endtrans %}...  <span class="caret"></span>
                                {% else %}
                                    {{the_plan.section.get().name}} <span class="caret"></span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="sel-{{the_plan_key.urlsafe()}}">
                                {% for a_section in the_sections %}
                                    {% if a_section %}
                                        <a class="dropdown-item" onclick="section_select('{{the_plan_key.urlsafe()}}','{{a_section.key.urlsafe()}}','{{a_section.name}}')">{{ a_section.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <a href="#" class="comment-thing" id="username" data-type="text" data-pk="{{the_plan_key.urlsafe()}}" data-url="/updateplancomment" data-title="">{{the_plan.comment}}</a>
        </div>
    {% else %}
	    <div class="col-6" style="display:flex; align-items:center;" >
            {{ plan_icon.icon_display(the_plan.value) }}
            {% if the_band.plan_feedback and the_plan.feedback_value %}
                {{ the_band.plan_feedback.split('\n')[the_plan.feedback_value-1] }}
            {% endif %}
            {% if the_plan.comment %}
                {{ the_plan.comment }}
            {% endif %}
	    </div>
    {% endif %}
</div>
{%- endmacro %}
