{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info) -%}
{% set the_gig_key = plan_info['the_gig_key'] %}
{% set the_plan_key = plan_info['the_plan_key'] %}
{% set the_plan = the_plan_key.get() %}
{% set the_member_key = plan_info['the_member_key'] %}
{% set the_member = the_member_key.get() %}
{% set the_band_key = plan_info['the_band_key'] %}
{% set the_band = the_band_key.get() %}
{% set the_assoc = plan_info['the_assoc'] %}

{% set show_section = False %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% if the_member_key == the_user.key or the_user_is_superuser %}
        {% set show_section = True %}
    {% endif %}
{% endif %}

{% set title_lg = 6 %}
{% set title_sm = 6 %}
{% set date_lg = 6 %}
{% set date_sm = 6 %}
{% set grp1_lg = 4 %}
{% set grp1_sm = 4 %}
{% set grp2_lg = 8 %}
{% set grp2_sm = 8 %}

{% if show_section %}
    {% set comment_lg = 7 %}
    {% set comment_sm = 7 %}
    {% set comment_2_lg = 4 %}
    {% set comment_2_sm = 4 %}
    {% set section_lg = 2 %}
    {% set section_sm = 2 %}
{% else %}
    {% set comment_2_lg = 6 %}
    {% set comment_2_sm = 6 %}
    {% set comment_lg = 9 %}
    {% set comment_sm = 9 %}
{% endif %}

<div class="row {% if (the_plan.value and the_plan.value < 3) or the_member_key == the_user.key %}planattending{% else %}plannotattending{% endif %}">
    <div class="col-lg-{{grp1_lg}} col-md-{{grp1_lg}} col-sm-{{grp1_sm}} col-xs-{{grp1_sm}}">
         <a href='/member_info.html?mk={{the_member_key.urlsafe()}}'>{{ the_member.display_name }}</a>
    </div>
    <div class="col-lg-{{grp2_lg}} col-md-{{grp2_lg}} col-md-offset-0 col-sm-{{grp2_sm}} col-sm-offset-0 col-xs-{{grp2_sm}} col-xs-offset-0">
        <div class="row">
            {% if the_member_key == the_user.key or the_user_is_superuser %}
                <div class="col-md-2 col-sm-2 col-xs-3">
                    {{ plan_icon.icon_button(the_plan, the_band.simple_planning) }}
                </div>
                    {% if the_band.plan_feedback %}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                                {{ plan_icon.feedback_button(the_plan, the_band.plan_feedback.split('\n') ) }}
                        </div>
                        <div class="col-md-{{comment_2_md}} col-sm-{{comment_2_sm}} col-xs-{{comment_2_sm}}">
                    {% else %}
                        <div class="col-md-{{comment_md}} col-sm-{{comment_sm}} col-xs-{{comment_sm}}">
                    {% endif %}
                            <a href="#" class="comment-thing" id="username" data-type="text" data-pk="{{the_plan_key.urlsafe()}}" data-url="/updateplancomment" data-title="">{{the_plan.comment}}</a>
                        </div>
            {% else %}
                <div class="col-md-2 col-sm-2 col-xs-3">
                    {{ plan_icon.icon_display(the_plan.value) }}
                </div>
                    {% if the_band.plan_feedback and the_plan.feedback_value %}
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{ the_band.plan_feedback.split('\n')[the_plan.feedback_value-1] }}
                        </div>
                        <div class="col-md-{{comment_2_md}} col-sm-{{comment_2_sm}} col-xs-{{comment_2_sm}}">
                    {% else %}
                        <div class="col-md-{{comment_md}} col-sm-{{comment_sm}} col-xs-{{comment_sm}}">
                    {% endif %}
                    {% if the_plan.comment %}
                        {{ the_plan.comment }}
                    {% endif %}
                </div>
            {% endif %}
            {% if show_section %}
                <div class="col-md-{{section_lg}} col-sm-{{section_sm}} col-xs-{{section_sm}}">
                    {% if the_plan.member == the_user.key or the_user_is_superuser or user_is_band_admin %}
                        {% if get_the_section_keys %}
                            {% set the_section_keys = get_the_section_keys(the_band_key) %}
                        {% endif %}
                        {% set the_section_keys = the_band_key.get().sections %}
                        {% if the_sections and the_sections|length > 1 %}

                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id='sel-{{the_plan_key.urlsafe()}}'>
                                {% if the_plan.section == None %}
                                    section...  <span class="caret"></span>
                                {% else %}
                                    {{the_plan.section.get().name}} <span class="caret"></span>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                {% for a_section in the_sections %}
                                    {% if a_section %}
                                        <li><a onclick="section_select('{{the_plan_key.urlsafe()}}','{{a_section.key.urlsafe()}}','{{a_section.name}}')">{{ a_section.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}
