{% extends 'go2base.html' %}

{% block content %}
    {% set the_band_key = gig.key.parent() %}
    <div class="row">
        <div class="page-header col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <h1>Gig Info</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Info</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Gig</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.title|e }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Band</div>
                        <div class="col-md-10 col-sm-10 col-xs-9"><a href="band_info.html?bk={{the_band_key.urlsafe()}}">{{ the_band_key.get().name|e }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Date</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.date.strftime('%-m/%-d/%Y')|e }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Details</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.details|e }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Setlist{% if gig.setlist %} <a href="print_setlist?gk={{gig.key.urlsafe()}}"><i class="fa fa-print"></i></a>{% endif %}</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.setlist|e|replace("\n","<br>")}}</div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-sm" href="gig_edit.html?gk={{ gig.key.urlsafe() }}">Edit</a>
                        </div>
                    </div>
                </div>  <!-- panel body -->
            </div> <!-- panel -->
            <div class="row">&nbsp;</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Member Plans <a href="print_planlist?gk={{gig.key.urlsafe()}}"><i class="fa fa-print"></i></a></h4>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% import 'gig_plan_edit.html' as plan_edit with context %}                
                            {% for the_section in the_section_keys %}
                                <div class="row" style="padding-top: 5px; padding-bottom: 5px; {{ loop.cycle('', 'background:#f5f5f5;') }}">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        {% if the_section %}
                                            {{the_section.get().name}}
                                        {% else %}
                                            No Section
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {% for member_plan in the_plans %}
                                            {% if member_plan['the_plan_key'].get().section == the_section %}
                                                {{ plan_edit.plan_edit(member_plan) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div>
    </row>        
{% endblock content %}

{% block localscripts %}
<script src="/js/plan_buttons.js"></script>
{% endblock localscripts %}

