{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info) -%}
{% set the_gig_key = plan_info['the_gig_key'] %}
{% set the_plan_key = plan_info['the_plan_key'] %}
{% set the_plan = the_plan_key.get() %}
{% set the_member_key = plan_info['the_member_key'] %}
{% set the_member = the_member_key.get() %}
{% set the_band_key = plan_info['the_band_key'] %}
{% set the_assoc = plan_info['the_assoc'] %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% set show_section = True %}
{% else %}
    {% set show_section = False %}
{% endif %}

{% set title_lg = 6 %}
{% set title_sm = 6 %}
{% set date_lg = 6 %}
{% set date_sm = 6 %}
{% set grp1_lg = 4 %}
{% set grp1_sm = 12 %}
{% set grp2_lg = 8 %}
{% set grp2_sm = 12 %}

{% if show_section %}
    {% set section_lg = 4 %}
    {% set section_sm = 2 %}

    {% set plan_lg = 8 %}
    {% set plan_sm = 8 %}
    {% set comment_lg = 6 %}
    {% set comment_sm = 6 %}
{% else %}
    {% set plan_lg = 12 %}
    {% set plan_sm = 10 %}
    {% set comment_lg = 10 %}
    {% set comment_sm = 8 %}
{% endif %}

<div class="row">
    <div class="col-lg-{{grp1_lg}} col-md-{{grp1_lg}} col-sm-{{grp1_sm}} col-xs-{{grp1_sm}}">
        <div class="row">
             <a href='/member_info.html?mk={{the_member_key.urlsafe()}}'>{% if the_member.nickname %}{{ the_member.nickname }}{% else %}{{ the_member.name }}{% endif %}</a>
        </div>
    </div>
    <div class="col-lg-{{grp2_lg}} col-md-{{grp2_lg}} col-sm-{{grp2_sm}} col-xs-{{grp2_sm}}">
        <div class="row">
            <div class="col-lg-{{plan_lg}} col-md-{{plan_lg}} col-md-offset-0 col-sm-{{plan_sm}} col-sm-offset-{{plan_sm_offset}} col-xs-{{plan_sm}} col-xs-offset-{{plan_sm_offset}} ">
                {% if the_member_key == the_user.key or the_user_is_superuser %}
                    {{ plan_icon.icon_button(the_plan) }}
                {% else %}
                    {{ plan_icon.icon_display(the_plan.value) }}
                {% endif %}
                {% if the_member_key == the_user.key or the_user_is_superuser %}
                    <a href="#" class="comment-thing" id="username" data-type="text" data-pk="{{the_plan_key.urlsafe()}}" data-url="/updateplancomment" data-title="">{{the_plan.comment}}</a>
                {% else %}
                    {{the_plan.comment}}
                {% endif %}
            </div>
            {% if show_section %}
                <div class="col-md-{{section_lg}} col-sm-{{section_sm}} col-xs-{{section_sm}}">
                    {% if get_the_section_keys %}
                        {% set the_section_keys = get_the_section_keys(the_band_key) %}
                    {% endif %}
                    {% set the_section_keys = the_band_key.get().sections %}
                    {% if the_sections and the_sections|length > 1 and (the_plan.member == the_user.key or the_user_is_superuser or user_is_band_admin)%}

                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id='sel-{{the_plan_key.urlsafe()}}'>
                            {% if the_plan.section == None %}
                                section...  <span class="caret"></span>
                            {% else %}
                                {{the_plan.section.get().name}} <span class="caret"></span>
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for a_section in the_sections %}
                                {% if a_section %}
                                    <li><a onclick="section_select('{{the_plan_key.urlsafe()}}','{{a_section.key.urlsafe()}}','{{a_section.name}}')">{{ a_section.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}
