{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-5 col-md-offset-2">
        {% if newgig_is_active %}
            <h2>New Gig</h1>
        {% else %}
            <h2>Gig Info</h1>
        {% endif %}
        </div>
    </div>
    <form class="form" id="infoform" role="form" method="post" action="gig_edit.html">
        {% if all_bands|length > 1 %}
            <div class="row">
                <div class="form-group col-md-3 col-md-offset-2">
                    {% if newgig_is_active %}
                        <label for="gigband" class="control-label">Band</label>
                        <select id="gigband" class="form-control" name="gig_band" onChange="handleBandChange(this)">
                            {% for a_band in all_bands %}
                                <option value="{{a_band.key.urlsafe()}}"
                                {% if (gig and a_band.key.urlsafe() == gig.key.parent().urlsafe()) or (gig==None and loop.first) %}
                                    SELECTED
                                {% endif %}
                                >{{a_band.name}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <input type="hidden" name="gig_band" value="{{all_bands[0].key.urlsafe()}}">
        {% endif %}
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigtitleinput" class="control-label">Gig Title</label>
                <input type="text" class="form-control" id="gigtitleinput" placeholder="(required)" value="{{gig.title}}" name="gig_title">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-md-offset-2">
                <label for="gigcontact" class="control-label">Contact</label>
                <select class="form-control" name="gig_contact" id="gig-contacts">
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigstatusinput" class="control-label">Status</label>
                    <select class="form-control" id="gigstatusinput" name="gig_status">
                        <option value="0"
                        {% if gig.status==1 %}selected{% endif %}
                        >??</option>
                        <option value="1"
                        {% if gig.status==1 %}selected{% endif %}
                        >confirmed!</option>
                        <option value="2"
                        {% if gig.status==2 %}selected{% endif %}
                        >cancelled</option>
                        <option value="3"
                        {% if gig.status==3 %}selected{% endif %}
                        >opinion?</option>
                    </select>
            </div>
             
        </div>
        <div class="row">
            <div class="form-group col-md-2 col-md-offset-2 col-sm-4 col-xs-4">
                <label for="gigdateinput" class="control-label">Date</label>
                <input type="text" class="datepicker form-control" id="gigdateinput" name="gig_date" placeholder="(required)" 
                {% if gig != None %} value="{{gig.date.strftime('%-m/%-d/%Y')}}" {% endif %}
                name="gig_date">
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigenddateinput" class="control-label">End Date</label>
                <input type="text" class="datepicker form-control" id="gigenddateinput" name="gig_enddate" placeholder="(if multi-day)" 
                {% if gig != None  and gig.enddate != None %} value="{{gig.enddate.strftime('%-m/%-d/%Y')}}" {% endif %}
                name="gig_enddate">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2 col-md-offset-2 col-sm-4 col-xs-4">
                <label for="gigcallinput" class="control-label">Call Time</label>
                <input type="text" class="form-control" id="gigcallinput" placeholder="4:20" value="{{gig.calltime}}" name="gig_call">
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigsetinput" class="control-label">Set Time</label>
                <input type="text" class="form-control" id="gigsetinput" placeholder="" value="{{gig.settime}}" name="gig_set">
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigendinput" class="control-label">End Time</label>
                <input type="text" class="form-control" id="gigendinput" placeholder="" value="{{gig.endtime}}" name="gig_end">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-offset-2 col-md-4 col-sm-4 col-xs-4">
                <label for="gigaddressinput" class="control-label">Address</label>
                <input type="text" class="form-control" id="gigaddressinput" placeholder="Cloudcuckooland" value="{{gig.address}}" name="gig_address">
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigdressinput" class="control-label">Dress</label>
                <input type="text" class="form-control" id="gigdressinput" placeholder="Pants Optional" value="{{gig.dress}}" name="gig_dress">
            </div>
            <div class="form-group col-md-2 col-sm-4 col-xs-4">
                <label for="gigpaidinput" class="control-label">Pay Deal</label>
                <input type="text" class="form-control" id="gigpaidinput" placeholder="As If" value="{{gig.paid}}" name="gig_paid">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-offset-2 col-md-4 col-sm-4 col-xs-4">
                <label for="gigleaderinput" class="control-label">Leader</label>
                <input type="text" class="form-control" id="gigleaderinput" placeholder="Arthur Fiedler" value="{{gig.leader}}" name="gig_leader">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigdetailsinput" class="control-label">More Details</label>
                <textarea class="form-control" rows="10" id="gigdetailsinput" placeholder="who? what? where? when? why?" name="gig_details">{{gig.details}}</textarea>
            </div>
        </div>            
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigsetlistinput" class="control-label">Setlist</label>
                <textarea class="form-control" rows="10" id="gigsetlistinput" placeholder="setlist here" name="gig_setlist">{{gig.setlist}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-0">
                {% if gig!=None %}
                    <a data-toggle="modal" href="#deleteModal" class="btn btn-default">Delete</a>
                    <a data-toggle="modal" href="#archiveModal" class="btn btn-default">Archive</a>
                {% endif %}   
            </div>
            <div class="form-group col-md-4 text-right">                
                    {% if gig==None %}
                        <a class="btn btn-default" href="agenda.html">Cancel</a>
                    {% else %}
                        <a class="btn btn-default" href="gig_info.html?gk={{ gig.key.urlsafe() }}">Cancel</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        {% if gig==None %}
            <input type="hidden" name="gk" value="0">
        {% else %}
            <input type="hidden" name="gk" value="{{gig.key.urlsafe()}}">
        {% endif %}
    </form>
{% endblock content %}        

{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this gig?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Don't Delete</button>
                    {% if gig %}
                        <a class="btn btn-primary" id="opener" href="gig_delete?&gk={{ gig.key.urlsafe() }}">Delete</a>
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm archive</h4>
                </div>
                <div class="modal-body">
                    Do you really want to archive this gig?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Don't Archive</button>
                    {% if gig %}
                        <a class="btn btn-primary" id="opener" href="gig_archive?&gk={{ gig.key.urlsafe() }}">Archive</a>
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock modal %}
{% block localscripts %}
<script src="/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function () {
    $('#gigdateinput').datepicker({
                format: 'm/d/yyyy'
            });
    $('#gigdateinput')
      .on('changeDate', function(ev){
        $('#gigdateinput').datepicker('hide')
      });
      
    $('#gigenddateinput').datepicker({
                format: 'm/d/yyyy'
            });
    $('#gigenddateinput')
      .on('changeDate', function(ev){
        $('#gigenddateinput').datepicker('hide')
      });


    $.validator.addMethod(
        "gigoDate",
        function(value, element) {
            if (value=="") {
                return true;
            } else {
                // put your own logic here, this is just a (crappy) example
                return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
            }
        },
        "Please enter a date in the format mm/dd/yyyy."
    );
      
    $("#infoform").validate({
        rules: {
            gig_title: {
                required: true
            },
            gig_date: {
                required: true,
                gigoDate: true
            },
            gig_enddate: {
                gigoDate: true,
                greaterThan: "#gigdateinput"
            }
        }
    });


      
    {% if newgig_is_active %}
        updateContactList('{{all_bands[0].key.urlsafe()}}');
    {% else %}
        updateContactList('{{gig.key.parent().urlsafe()}}');
    {% endif %}
});

jQuery.validator.addMethod("greaterThan", 
function(value, element, params) {

    if (value=="") {
        return true;
    }

    if (!/Invalid|NaN/.test(new Date(value))) {
        return new Date(value) > new Date($(params).val());
    }

    return isNaN(value) && isNaN($(params).val()) 
        || (Number(value) > Number($(params).val())); 
},'Must be greater than start date!');

function updateContactList(bk) {
    $.post("/band_get_member_list",
                {
                    bk: bk
                },
                function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        obj = JSON && JSON.parse(responseTxt) || $.parseJSON(responseTxt);
                        inner=""
                        {% if gig.contact==None %}
                            inner = inner+"<option value=''>??</option>"
                        {% endif %}
                        for(i=0; i<obj.length; i++) {
                            inner=inner+"<option value='"+obj[i][1]+"'"
                            {% if newgig_is_active %}
                                if (obj[i][1] == '{{the_user.key.urlsafe()}}') {
                                    inner=inner+" SELECTED"
                                }
                            {% elif gig.contact %}
                                if (obj[i][1] == '{{gig.contact.urlsafe()}}') {
                                    inner=inner+" SELECTED"
                                }
                            {% endif %}
                            inner=inner+">"+obj[i][0]+"</option>"
                        }
                        $('#gig-contacts').html(inner);
                    if(statusTxt=="error")
                      alert("Error: "+xhr.status+": "+xhr.statusText);
                });
}

function handleBandChange(sel) {
    var bk=sel.value;
    updateContactList(bk);
};

</script>
{% endblock localscripts %}

