{% extends 'go2base.html' %}

{% block title %}{% trans %}Archived Gig Info{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <h2>{% trans %}Archived Gig Info{% endtrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <div class="row">
                <div class="col-md-2">{% trans %}Gig{% endtrans %}</div>
                <div class="col-md-8">{{ gig.title|e }}</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-2">{% trans %}Band{% endtrans %}</div>
                <div class="col-md-8"><a href="band_info.html?bk={{gig.key.parent().urlsafe()}}">{{ gig.key.parent().get().name|e }}</a></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-2"><i class="fa fa-calendar"></i></div>
                <div class="col-md-8">{{ gig.date.strftime('%-m/%-d/%Y')|e }}</div>
            </div>
            <div class="row">&nbsp;</div>
            {% if gig.address %}
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Address{% endtrans %}</div>
                    <div class="col-md-10 col-sm-10 col-xs-9"><a href="http://maps.google.com?q={{gig.address | replace(' ','+')}}" target="new">{{ gig.address }}</a></div>
                </div>
                <div class="row">&nbsp;</div>
            {% endif %}
            {% if gig.dress %}
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}What to Wear{% endtrans %}</div>
                    <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.dress }}</div>
                </div>
                <div class="row">&nbsp;</div>
            {% endif %}
            {% if gig.paid %}
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Pay Deal{% endtrans %}</div>
                    <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.paid }}</div>
                </div>
                <div class="row">&nbsp;</div>
            {% endif %}
            {% if gig.leader %}
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3">{% trans %}Leader{% endtrans %}</div>
                    <div class="col-md-10 col-sm-10 col-xs-9">{{ gig.leader }}</div>
                </div>                    
                <div class="row">&nbsp;</div>
            {% endif %}
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-2">{% trans %}More Details{% endtrans %}</div>
                <div class="col-md-8">{{ gig.details  | html_content | safe  }}</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-2">{% trans %}Setlist{% endtrans %}</div>
                <div class="col-md-8">{{ gig.setlist  | html_content | safe  }}</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-2">{% trans %}Member Plans{% endtrans %}</div>
                <div class="col-md-8"><pre style="border:none; background:none; padding:0px;">{{ archived_plans }}</pre></div>
            </div>
            <div class="row">&nbsp;<br>&nbsp;<br></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{% trans %}Comments{% endtrans %}</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" id="gig_comment">
                            <i class="fa fa-spinner fa-spin fa-lg"></i>                            
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" id="commentinput" placeholder="say your piece!" name="comment_input" rows="2"></textarea>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <button type="button" class="btn btn-primary btn-sm" onclick="add_comment('{{gig.key.urlsafe()}}');">Say it!</button>
                        </div>
                    </div>                    
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div>
    </div>    
{% endblock content %}

{% block localscripts %}
<script src="/js/comments.js"></script>
<script>
$(document).ready(function() {
    update_comment('{{gig.key.urlsafe()}}');
});
</script>
{% endblock localscripts %}

