{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        {% if newgig_is_active %}
            <div class="col-md-5 col-md-offset-0"><h1>New Gig</h1></div>
        {% else %}
            <div class="col-md-5 col-md-offset-0"><h1>Edit Gig</h1></div>
        {% endif %}
    </div>
    <form class="form" role="form" method="post" action="gig_edit.html">
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigtitleinput" class="control-label">Gig Title</label>
                <input type="text" class="form-control" id="gigtitleinput" placeholder="(required)" value="{{gig.title}}" name="gig_title">
            </div>
        </div>
        {% if all_bands|length > 1 %}
            <div class="row">
                <div class="form-group col-md-3 col-md-offset-2">
                    {% if newgig_is_active %}
                        <label for="gigband" class="control-label">Band</label>
                        <select id="gigband" class="form-control" name="gig_band">
                            {% for a_band in all_bands %}
                                <option value="{{a_band.key.urlsafe()}}"
                                {% if (gig and a_band.key.urlsafe() == gig.key.parent().urlsafe()) or (gig==None and loop.first) %}
                                    SELECTED
                                {% endif %}
                                >{{a_band.name}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <input type="hidden" name="gig_band" value="{{all_bands[0].key.urlsafe()}}">
        {% endif %}
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigdetailsinput" class="control-label">Details</label>
                <textarea class="form-control" id="gigdetailsinput" placeholder="who? what? where? when? why?" name="gig_details">{{gig.details}}</textarea>
            </div>
        </div>            
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="gigsetlistinput" class="control-label">Setlist</label>
                <textarea class="form-control" id="gigsetlistinput" placeholder="setlist here" name="gig_setlist">{{gig.setlist}}</textarea>
            </div>
        </div>            
        <div class="row">
            <div class="form-group col-md-3 col-md-offset-2">
                <label for="gigdateinput" class="control-label">Date</label>
                <input type="text" class="datepicker form-control" id="gigdateinput" placeholder="(required)" 
                {% if gig != None %} value="{{gig.date.strftime('%-m/%-d/%Y')}}" {% endif %}
                name="gig_date">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2 col-md-offset-2">
                {% if gig!=None %}
                    <a data-toggle="modal" href="#deleteModal" class="btn btn-default">Delete</a>
                    <a data-toggle="modal" href="#archiveModal" class="btn btn-default">Archive</a>
                {% endif %}   
            </div>
            <div class="form-group col-md-6 text-right">                
                    {% if gig==None %}
                        <a class="btn btn-default" href="agenda.html">Cancel</a>
                    {% else %}
                        <a class="btn btn-default" href="gig_info.html?gk={{ gig.key.urlsafe() }}">Cancel</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        {% if gig==None %}
            <input type="hidden" name="gk" value="0">
        {% else %}
            <input type="hidden" name="gk" value="{{gig.key.urlsafe()}}">
        {% endif %}
    </form>
{% endblock content %}        

{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this gig?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Don't Delete</button>
                    {% if gig %}
                        <a class="btn btn-primary" id="opener" href="gig_delete?&gk={{ gig.key.urlsafe() }}">Delete</a>
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm archive</h4>
                </div>
                <div class="modal-body">
                    Do you really want to archive this gig?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Don't Archive</button>
                    {% if gig %}
                        <a class="btn btn-primary" id="opener" href="gig_archive?&gk={{ gig.key.urlsafe() }}">Archive</a>
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock modal %}
{% block localscripts %}
<script src="/datepicker/js/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function () {
$('#gigdateinput').datepicker({
            format: 'm/d/yyyy'
        });
$('#gigdateinput')
  .on('changeDate', function(ev){
    $('#gigdateinput').datepicker('hide')
  });
});
</script>
{% endblock localscripts %}

