{% include 'header.html' %}
{% include 'navbar.html' %}
{% import 'plan_icon.html' as plan_icon %}

<div class="container">

    <div class="starter-template">
        <div class="row">
            <div class="col-md-4 col-md-offset-2"><h1>Gig Info</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <a class="btn btn-primary btn-sm" href="gig_edit.html?gk={{ gig.key.urlsafe() }}">Edit</a>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">Gig</div>
            <div class="col-md-8">{{ gig.title|e }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">Band</div>
            <div class="col-md-8"><a href="band_info.html?bk={{gig.key.parent().urlsafe()}}">{{ gig.key.parent().get().name|e }}</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">Date</div>
            <div class="col-md-8">{{ gig.date|e }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">Details</div>
            <div class="col-md-8">{{ gig.details|e }}</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                    {% for p in member_plans %}
                    <tr>
                        <td width="20%"0><a href="member_info.html?mk={{p.member.urlsafe()}}">{{ p.member.get().name }}</a></td>
                        <!-- g m b p -->
                        <td width="10%">{{ plan_icon.icon_button(p.member.get(),p,"") }}</td>
                        <td width="30%">
                            {% if p.member.get().nickname==user_nickname %}
                                <div class="statementinput">
                                    <input type="text" class="form-control" id="memberstatementinput" placeholder="{{p.comment}}" data-pk="{{p.key.urlsafe()}}" name="member_statement">
                                </div>
                            {% else %}
                                {{ p.comment }}
                            {% endif %}
                        </td>
                        {% if p.member.get().nickname==user_nickname %}
                            <td width="20%">
                               <div class="col-md-2">me!</div>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>        
            </div>
        </div>
    </div>

</div><!-- /.container -->
{% include 'scripts.html' %}
<script src="/js/plan_buttons.js"></script>
{{ plan_icon.setup_plan_buttons(member_plans) }}
<script>
function reset_class(name) {
    item=document.getElementById(name)
    parent=item.parentNode
    parent.className="statementinput";
}

$( document ).ready(function() {
    $( "#memberstatementinput" ).change(function() {
        var pk=$(this).attr("data-pk");
        var val=$(this).val();
        var pn=$(this)[0].parentNode
        $.post("/updateplancomment",
                    {
                        val: val,
                        pk: pk
                    },
                    function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                            pn.className="has-success";
                            setTimeout('reset_class("memberstatementinput");', 1000);
                        if(statusTxt=="error")
                          alert("Error: "+xhr.status+": "+xhr.statusText);
                    });
    });
        
});
</script>
{% include 'footer.html' %}
