{% extends 'go2base.html' %}
{% import 'plan_icon.html' as plan_icon %}

{% block title %}{% trans %}Grid o'Gigs{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        {% trans %}Grid o'Gigs{% endtrans %}
        {% if the_user.preferences.default_view != 2 %}
        <small>(<a href="/?default=2">{% trans %}Make this my default view{% endtrans %}</a>)</small>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0">
        {% if all_band_keys|length > 1 %}
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle text-center" data-toggle="dropdown">
                    {{ the_band_key.get().name }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    {% for a_band_key in all_band_keys %}
                    <li role="presentation"><a href="/grid.html?bk={{a_band_key.urlsafe()}}&m={{the_month}}&y={{the_year}}">{{a_band_key.get().name}}</a></li>
                    {% endfor %}
                </ul>
            </div> <!-- dropdown -->
        {% endif %}
        <br>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0" style="white-space: nowrap;">
        <a class="btn btn-default btn-sm" href="/grid.html?bk={{the_band_key.urlsafe()}}&m={{the_month}}&y={{the_year}}&d=-1"><i class="fa fa-arrow-left"></i></a>
        {{ the_month_string }}
        <a class="btn btn-default btn-sm" href="/grid.html?bk={{the_band_key.urlsafe()}}&m={{the_month}}&y={{the_year}}&d=1"><i class="fa fa-arrow-right"></i></a>
    </div>
</div>
{% if the_gigs %}
<div class="row">
    <div class="col-sm-offset-0 col-md-10 col-md-offset-1">
        <table class="table">
            <tr>
                <td colspan=2 style="white-space: nowrap;">
                </td>
                {% for gig in the_gigs %}
                    <td align="middle">{{ the_date_formatter(the_user,gig.date,'short') }}<br>({{ the_date_formatter(the_user,gig.date,'day') }})</td>
                {% endfor %}
                <td width="100%"></td>
            </tr>
            <tr>
                <td colspan=2></td>
                {% for gig in the_gigs %}
                    <td align="middle"><a href="/gig_info.html?gk={{gig.key.urlsafe()}}">{{ gig.title }}</a>
                    {% if gig.is_archived %}
                        ({% trans %}archived{% endtrans %})
                    {% else %}
                        {% if gig.status==1 %}
                            <i class="fa fa-check-circle" style="color:green"></i>
                        {% elif gig.status==2 %}
                            <i class="fa fa-times-circle" style="color:red"></i>
                        {% endif %}                    
                    {% endif %}</td>
                {% endfor %}
            </tr>
            {% for section in the_member_keys_by_section %}
                {% for member in section[1] %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{section[1]|length}}">
                                {% if section[0] %}
                                    {{ section[0].get().name }}
                                {% else %}
                                    {% trans %}No Section{% endtrans %}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td  style="white-space: nowrap;
                            {% if member == the_user.key %}
                                background:#f5f5f5;"
                            {% endif %}
                        ">
                            {% set the_member = member.get() %}
                            <a href="/member_info.html?mk={{member.urlsafe()}}">{% if the_member.nickname %}{{the_member.nickname}}{% else %}{{ the_member.name }}{% endif %}</a>
                        </td>
                        {% for gig in the_gigs %}
                            <td  style="white-space: nowrap;
                            {% if member == the_user.key %}
                                background:#f5f5f5;
                            {% endif %}
                            " align="middle">{% if gig.is_archived == False and gig.status != 2 %}{{ plan_icon.icon(the_plans[member][gig.key]) }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="page-header col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        {% trans %}No Gigs!{% endtrans %}
    </div>
</div>
{% endif %}
{% endblock content %}

