{% extends 'go2base.html' %}

{% block title %}{% trans %}New Band!{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>Sign Up Your Band!</h3>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                Getting your band on the Gig-O-Matic is easy-peasy. Fill out the form below 
                and the Gig-O-Matic Overlords will get right back to you.<br><br>
            </div>
        </div>

        <form class="form form-horizontal" id="infoform" role="form" action= "/help_band_request.html" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="email" class="control-label col-md-2 col-md-offset-2">Your Email</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="email" name="email" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="name" class="control-label col-md-2 col-md-offset-2">Your Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="info" class="control-label col-md-2 col-md-offset-2">Tell Us A Little About The Band</label>
                    <div class="col-md-5">
                        <textarea class="form-control" id="info" name="info" rows="10" /></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-6 text-right">
                    <input type="submit" class="btn btn-primary" value="Make It So!"/>
                </div>
            </div>
            
        </form>
    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            name: {
                required: true
            }
        }
    });
});
</script>
{% endblock %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}


