{% extends 'go2base.html' %}

{% block title %}{% trans %}New Band!{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-10 col-12">    
                <div class="page-header">
                    Sign Up Your Band!
                </div>

                Getting your band on the Gig-O-Matic is easy-peasy. Fill out the form below 
                and the Gig-O-Matic Overlords will get right back to you.<br><br>

                <form class="form form-horizontal" id="infoform" role="form" action= "/help_band_request.html" method="POST">
                    <div class="form-group">
                        <label for="email" class="control-label">Your Email</label>
                        <input type="text" class="form-control" id="email" name="email" />
                    </div>

                    <div class="form-group">
                        <label for="name" class="control-label">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>

                    <div class="form-group">
                        <label for="info" class="control-label">Tell Us A Little About The Band</label>
                        <textarea class="form-control" id="info" name="info" rows="10" /></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12 text-right">
                            <a class="btn btn-secondary" href="/{% if locale %}?locale={{ locale }}{% endif %}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Make It So!"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            name: {
                required: true
            }
        }
    });
});
</script>
{% endblock %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}


