{% extends 'go2base.html' %}

{% block title %}{% trans %}Help!{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2"><h2>{% trans %}Help!{% endtrans %}</h1></div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <strong>How do I...</strong><br><br>

        <strong>...join a band?</strong> Click your name in the upper-right of this window, and select "My Profile."
        In the "Bands" section, click "Add Band" and select the band of your choice! You'll be a pending
        member until the administrator for that band confirms your membership. You'll get an email about
        it.
        
        <br><br>
    
        <strong>...change my section?</strong> Click your name in the upper-right of this window, and select "My Profile."
        In the "Bands" section, select your section from the pop-up next to the band. Note that some bands aren't
        organized by section, so there might not be anything to select. So relax and enjoy the anarchy.
        
        <br><br>
        <strong>...make a suggestion?</strong> I want to <a href="mailto:gigomatic.superuser@gmail.com">hear about it</a>.
        Also, you can check the <a href="https://github.com/SecondLiners/GO2/issues?state=open">issues list in github</a> - what you're wishing for may already be on it.
        
        <br><br>

        <strong>...contact the administator?</strong> <a href="mailto:gigomatic.superuser@gmail.com">Email Here!</a><br><br>
        
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


