{% extends 'go2base.html' %}

{% block title %}{% trans %}Setup Password{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block welcome %}
{% endblock welcome %}
{% block motd %}
{% endblock motd %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-11 col-12 ml-auto">
                <h3>{% trans %}Welcome To Gig-o-Matic{% endtrans %}</h3>
            </div>

            <div class="row">
                <div class="col-md-10 col-12 ml-auto">
                    {% trans %}invite_welcome_text{% endtrans %}<br><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11 col-12 ml-auto">

                <form class="form" id="infoform" role="form" action= "/invitepassword" method="POST">
                    <div class="form-group row">
                        <label for="membernameinput" class="col-form-label col-lg-3 text-lg-right">{% trans %}Full Name{% endtrans %}</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control" id="membernameinput" name="member_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="membernicknameinput" class="col-form-label col-lg-3 text-lg-right">{% trans %}Nickname{% endtrans %}</label>
                        <div class="col-lg-8 col-12">
                            <input type="text" class="form-control" id="membernicknameinput" name="member_nickname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-form-label col-lg-3 text-lg-right">{% trans %}Enter Password{% endtrans %}</label>
                        <div class="col-lg-8 col-12">
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirm_password" class="col-form-label col-lg-3 text-lg-right">{% trans %}And Again{% endtrans %}</label>
                        <div class="col-lg-8 col-12">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" />
                        </div>
                    </div>
                    <input type="hidden" name="t" value="{{ token }}" />
                    <div>
                        <input type="submit" class="btn btn-primary" value="{% trans %}Set Password{% endtrans %}"/>
                    </div>
                    <input type='hidden' name='mk' value='{{mk}}'>
                    <input type='hidden' name='st' value='{{st}}'>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            password: {
                required: true,
                minlength: 5
            },
            confirm_password: {
                equalTo: "#password",
                minlength: 5
            },
            member_name: {
                required: true
            }
        },
        messages: {
            password: {
                required: "{% trans %}This field is required!{% endtrans %}"
            },
            confirm_password: {
                equalTo: "{% trans %}Passwords must match!{% endtrans %}"
            },
            member_name: {
                required: "{% trans %}This field is required!{% endtrans %}"
            }
        }
    });
});
</script>

{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
