{% extends 'go2base.html' %}

{% block title %}{% trans %}Setup Password{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block welcome %}
{% endblock welcome %}
{% block motd %}
{% endblock motd %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_bigcontent">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>{% trans %}Welcome To Gig-o-Matic{% endtrans %}</h3>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% trans %}invite_welcome_text{% endtrans %}
                Welcome to the Gig-o-Matic! Your account has been set up - all you need to do is
                set up a password and you're in business.<br><br>
            </div>
        </div>

        <form class="form form-horizontal" id="infoform" role="form" action= "/invitepassword" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="membernameinput" class="control-label col-md-2 col-md-offset-2">{% trans %}Full Name{% endtrans %}</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="membernameinput" name="member_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="membernicknameinput" class="control-label col-md-2 col-md-offset-2">{% trans %}Nickname{% endtrans %}</label>
                    <div class="col-md-3">                     
                        <input type="text" class="form-control" id="membernicknameinput" name="member_nickname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="password" class="control-label col-md-2 col-md-offset-2">{% trans %}Enter Password{% endtrans %}</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="confirm_password" class="control-label col-md-2 col-md-offset-2">{% trans %}And Again{% endtrans %}</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" />
                    </div>
                </div>
            </div>
            <input type="hidden" name="t" value="{{ token }}" />
            <div class="row">
                <div class="col-md-3 col-md-offset-4 text-right">
                    <input type="submit" class="btn btn-primary" value="{% trans %}Set Password{% endtrans %}"/>
                </div>
            </div>
            <input type='hidden' name='mk' value='{{mk}}'>
            <input type='hidden' name='st' value='{{st}}'>
        </form>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            password: {
                required: true
            },
            confirm_password: {
                equalTo: "#password"
            },
            member_name: {
                required: true
            }
        },
        messages: {
            password: {
                required: "{% trans %}This field is required!{% endtrans %}"
            }
            member_name: {
                required: "{% trans %}This field is required!{% endtrans %}"
            }
        }
    });
});
</script>

{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
