{% extends 'go2base.html' %}

{% block title %}{% trans %}Link Error!{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <h3>{% trans %}Link Error!{% endtrans %}</h3>
        <br>
        <p>{% trans %}link_error_message{% endtrans %}
        <a href="http://www.gig-o-matic.com">www.gig-o-matic.com</a>.</p>

        {% if msg %}
            <br><br>{{ msg }}
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
