{% extends 'go2base.html' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>{% trans %}Welcome to Gig-o-Matic!{% endtrans %}</h3>
            </div>
        </div>
    
        {% if failed %}
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <strong>{% trans %}Login failed!{% endtrans %}</strong> {% trans %}Check your credentials and try again.{% endtrans %}
                </div>
            </div>
        {% endif %}

        {% if unverified %}
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <strong>{% trans %}Login failed!{% endtrans %}</strong> {% trans %}Check your email to verify your account.{% endtrans %}
                </div>
            </div>
        {% endif %}

        <form class="form form-horizontal" role="form" action= "/login" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="email" class="control-label col-md-2 col-md-offset-2">{% trans %}Email Address{% endtrans %}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" value="{{ username }}" name="email"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="password" class="control-label col-md-2 col-md-offset-2">{% trans %}Password{% endtrans %}</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password"/>
                    </div>
                </div>
            </div>
            {% if originalurl %}
                <input type="hidden" name="originalurl" value="{{originalurl}}">
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">{% trans %}Login{% endtrans %}</button>
                    <a href="/forgot{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}Forgot password?{% endtrans %}</a>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <input type="checkbox" name="remember">{% trans %}Remember me{% endtrans %}</input>
                    </div>
                </div>
            </div>
            {% if locale %}
                <input type='hidden' name='locale' value='{{ locale }}'>
            {% endif %}
        </form>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% trans %}Not a member?{% endtrans %}        
                <a class="btn btn-default" href="/signup{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}Sign Up!{% endtrans %}</a>
            </div>
            <div class="col-md-4">
                {% for lang in languages %}
                    {% if lang[0] != locale %}
                        <a href='/login?locale={{lang[0]}}'>{{ lang[1] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                {% trans %}Want your band on the Gig-o?{% endtrans %} {% trans %}Click{% endtrans %} <a href="/help_band_request.html{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}here{% endtrans %}</a>.
                {% trans %}What is the Gig-o-Matic, anyway?{% endtrans %} {% trans %}Click{% endtrans %} <a href="/whatis.html{% if locale %}?locale={{ locale }}{% endif %}">{% trans %}here{% endtrans %}</a>!
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
