{% extends 'go2base.html' %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>Welcome to Gig-o-Matic!</h3>
            </div>
        </div>
    
        {% if failed %}
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <strong>Login failed!</strong> Check your credentials and try again.
                </div>
            </div>
        {% endif %}

        <form class="form form-horizontal" role="form" action= "/login" method="POST">
            <div class="row">
                <div class="form-group">
                    <label for="email" class="control-label col-md-2 col-md-offset-2">Email Address</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="{{ username }}" name="email"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="password" class="control-label col-md-2 col-md-offset-2">Password</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" name="password"/>
                    </div>
                </div>
            </div>
            {% if originalurl %}
                <input type="hidden" name="originalurl" value="{{originalurl}}">
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/forgot">Forgot password?</a>
                </div>
            </div>
        </form>
        <br><br>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                Not a member?        
                <a class="btn btn-default" href="/signup">Sign Up!</a>
                <br><br>
                Want your band on the Gig-o? Email <a href="mailto:gigomatic.superuser@gmail.com">here</a>.
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
