{% extends 'go2base.html' %}

{% block title %}{% trans %}Maintenance!{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="page-header col-md-5 col-md-offset-2">
                <h3>Maintenance!</h3>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                Sorry, the Gig-o-Matic is undergoing some surgery. It will be in recovery soon and you'll be able to visit. For now,
                you can leave those flowers at the desk.
                <br><br>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}