{% extends 'go2base.html' %}


{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Info</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Name</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ the_member.name|e }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Email</div>
                        <div class="col-md-10 col-sm-10 col-xs-9"><a href="mailto:{{the_member.email_address}}">{{ the_member.email_address|e }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Phone</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ the_member.phone|e }}</div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">Personal Statement</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">{{ the_member.statement|e }}</div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">My Bands</div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            {% for band_key in the_band_keys %}
                                {% set the_band = band_key.get() %}
                                <a href="/band_info.html?bk={{ the_band.key.urlsafe() }}">{{ the_band.name }}</a>{% if loop.last == False %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if member_is_me or the_user_is_superuser %}
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-sm" href="member_edit.html?mk={{ the_member.key.urlsafe() }}">Edit</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if member_is_me or the_user_is_superuser %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>                    
                              Bands
                        </strong>
                    </div>
                    <div class="panel-body">        
                        <div id="bandlist">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                        
                                <div class="dropdown">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle text-center" data-toggle="dropdown">
                                        <i class="fa fa-plus-square"></i> Add Band
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        {% for a_band in all_bands %}
                                        <li role="presentation"><a class="band-click" id="{{a_band.key.urlsafe()}}"role="menuitem" tabindex="-1" href="#">{{a_band.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div> <!-- dropdown -->
                            </div>
                        </div> <!-- row -->
                    </div>
                </div>
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    {% endif %}
    </div>
{% endblock content %}

{% block localscripts %}
<script>
function updateBands() {
    $.post('/member_get_assocs.html',
            {
                mk: '{{ the_member.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('bandlist').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function XXsection_select(bk) {
    elem=document.getElementById("sbk-"+bk)
    sk=elem.options[elem.selectedIndex].id
    if (sk==0) {
        updateBands();
        return false;
    }
    var mk='{{the_member.key.urlsafe()}}';
    $.post('/member_set_section',
            {
                mk: mk,
                sk: sk,
                bk: bk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function section_select(bk, sk, name) {
    var mk='{{the_member.key.urlsafe()}}';
    $.post('/member_set_section',
            {
                mk: mk,
                sk: sk,
                bk: bk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    $('#sbk-'+bk).html(name+ " <span class='caret'></span>")
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function multi_select(bk) {
    elem=document.getElementById("msbk-"+bk)
    var mk='{{the_member.key.urlsafe()}}';
    $.post('/member_set_multi',
            {
                mk: mk,
                bk: bk,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

$(document).ready(function() {
    updateBands();
    $("a.band-click").click(function(){
        var mk='{{the_member.key.urlsafe()}}';
        var bk=$(this).attr("id");
        $.post("/member_new_assoc",
                    {
                        mk: mk,
                        bk: bk
                    },
                    function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                            updateBands();
                        if(statusTxt=="error")
                          alert("Error: "+xhr.status+": "+xhr.statusText);
                    });
    });
});
</script>
{% endblock localscripts %}

