{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-5 col-md-offset-2">
            <h2>Profile Info</h1>
        </div>
    </div>
    <form class="form" id="infoform" role="form" method="post" action="member_edit.html">
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="membernameinput" class="control-label">Full Name</label>
                <input type="text" class="form-control" id="membernameinput" placeholder="(required)" value="{{the_member.name}}" name="member_name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="membernameinput" class="control-label">Nickname</label>
                <input type="text" class="form-control" id="membernicknameinput" placeholder="call me..." value="{% if the_member.nickname %}{{the_member.nickname}}{% endif %}" name="member_nickname">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="memberemailinput" class="control-label">Password</label>
                <input type="password" class="form-control" id="member_password1" name="member_password1">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="memberemailinput" class="control-label">Password (again!)</label>
                <input type="password" class="form-control" id="member_password2" name="member_password2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="memberemailinput" class="control-label">Email</label>
                <input type="email" class="form-control" id="memberemailnput" placeholder="(required)" value="{{the_member.email_address}}" name="member_email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="memberphoneinput" class="control-label">Phone</label>
                <input type="text" class="form-control" id="memberphonenput" placeholder="ring ring" value="{{the_member.phone}}" name="member_phone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <label for="memberstatementinput" class="control-label">Statement</label>
                <input type="text" class="form-control" id="memberstatementinput" placeholder="I have naturally curly hair and enjoy long walks on the beach." value="{{the_member.statement}}" name="member_statement">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Preferences</strong>
                    </div>
                    <div class="panel-body">
                        <label class="checkbox">  
                            <input type="checkbox" id="memberprefemailnewgig" name="member_prefemailnewgig"
                            {% if the_member.preferences.email_new_gig %}
                                checked
                            {% endif %}
                            >Email me every time a gig is added  
                        </label>  
                        <label class="checkbox">  
                            <input type="checkbox" id="memberprefhidecanceledgigs" name="member_prefhidecanceledgigs"
                            {% if the_member.preferences.hide_canceled_gigs %}
                                checked
                            {% endif %}
                            >Hide canceled gigs on my agenda page  
                        </label>  
                        <label for="memberpreflocale" class="control-label">Locale</label>
                        <input type="text" class="form-control" id="memberpreflocale" placeholder="ring ring" value="{{the_member.preferences.locale}}" name="member_preflocale">
                    </div>
                </div>  
            </div>
        </div>
        <div class="row">
            {% if the_user_is_superuser %}
                <div class="form-group col-md-2 col-md-offset-2">
                    <a data-toggle="modal" href="#deleteModal" class="btn btn-default">Delete</a>
                </div>        
                <div class="form-group col-md-3 text-right">
            {% else %}
                <div class="form-group col-md-5 col-md-offset-2 text-right">
            {% endif %}
                <a class="btn btn-default" href="{{the_cancel_url}}">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>            
    {% if the_member==None %}
        <input type="hidden" name="mk" value="0">
    {% else %}
        <input type="hidden" name="mk" value="{{the_member.key.urlsafe()}}">
    {% endif %}
    </form>
{% endblock content %}

{% block modal %}
    {% if the_user_is_superuser %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete this member?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Don't Delete</button>
                        {% if the_member %}
                            <a class="btn btn-primary" id="opener" href="/member_delete?mk={{the_member.key.urlsafe()}}">Delete</a>
                        {% endif %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock modal %}

{% block localscripts %}
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            member_email: {
                required: true,
                email: true,
                remote: {
                    url: "/check_email",
                    type: "post",
                    dataType: 'json'                
                }
            },
            member_password2: {
                equalTo: "#member_password1"
            }
        },
        messages: {
            member_email: {
                remote: "email already in use"
            }
        }
    });
});
</script>
{% endblock localscripts %}

