{% extends 'go2base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <h1>Profile</h1>
        </div>
    </div> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Info</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-md-offset-2">Name</div>
                <div class="col-md-8">{{ the_member.name|e }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">Email</div>
                <div class="col-md-8">{{ the_member.email_address|e }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">Phone</div>
                <div class="col-md-8">{{ the_member.phone|e }}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">Personal Statement</div>
                <div class="col-md-8">{{ the_member.statement|e }}</div>
            </div>
            {% if nav_info['is_me'] or nav_info['is_superuser'] %}
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a class="btn btn-primary btn-sm" href="member_edit.html?mk={{ the_member.key.urlsafe() }}">Edit</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if nav_info['is_me'] or nav_info['is_superuser'] %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">                    
                      Bands
                </h4>
            </div>
            <div class="panel-body">        
                <div class="row">
                    <div class="col-md-10 col-md-offset-2" id="bandlist">
                        <i class="icon-spinner icon-spin icon-large"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle text-center" data-toggle="dropdown">
                                <i class="icon-plus-sign-alt icon-sm"></i> Add Band
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                {% for a_band in all_bands %}
                                <li role="presentation"><a class="band-click" id="{{a_band.key.urlsafe()}}"role="menuitem" tabindex="-1" href="#">{{a_band.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div> <!-- dropdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    {% endif %}
    </div>
{% endblock content %}

{% block localscripts %}
<script>
function updateBands() {
    $.post('/member_get_assocs.html',
            {
                mk: '{{ the_member.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('bandlist').innerHTML=responseTxt;
                     $("a.section-click").click(handle_section_click);
                     $("a.leave-section-click").click(handle_leave_section_click);
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function add_section_for_member(sk, mk, ak) {
   $.post('/member_add_section.html',
            {
                mk: mk,
                sk: sk,
                ak: ak
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateBands();
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function handle_section_click() {
    var sk=$(this).attr("id");
    var bk=$(this).attr("data-bk");
    var mk='{{the_member.key.urlsafe()}}';
    add_section_for_member(sk, mk, ak);
}

function leave_section_for_member(sk, mk, ak) {
   $.post('/member_leave_section.html',
            {
                mk: mk,
                sk: sk,
                ak: ak
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    updateBands();
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function handle_leave_section_click() {
    var sk=$(this).attr("id");
    var ak=$(this).attr("data-ak");
    var mk='{{the_member.key.urlsafe()}}';
    leave_section_for_member(sk, mk, ak);
}

function new_default_section(ak, sk) {
        $.post("/member_new_default_section",
        {
            ak: ak,
            sk: sk
        },
        function(responseTxt,statusTxt,xhr){
            if(statusTxt=="success")
                updateBands();
            if(statusTxt=="error")
              alert("Error: "+xhr.status+": "+xhr.statusText);
        });
}
    

$(document).ready(function() {
    updateBands();
    $("a.band-click").click(function(){
        var mk='{{the_member.key.urlsafe()}}';
        var bk=$(this).attr("id");
        $.post("/member_new_assoc",
                    {
                        mk: mk,
                        bk: bk
                    },
                    function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                            updateBands();
                        if(statusTxt=="error")
                          alert("Error: "+xhr.status+": "+xhr.statusText);
                    });
    });
});
</script>
{% endblock localscripts %}

