{% if the_assoc_info %}
    <table>
    {% for the_info in the_assoc_info %}
        <tr>
            <td width=30%><a href="/band_info.html?bk={{the_info.assoc.band.urlsafe()}}">{{the_info.assoc.band.get().name}}</a></td>
            <td width=20%>
                {% if the_info.assoc.status == 0 %}
                    pending
                {% else %}
                    member  
                {% endif %}
            </td>
            <td width=50%>
                <table>
                    {% if the_info.assoc.sections %}
                        {% for a_section in the_info.assoc.sections %}
                            <tr><td>{{a_section.get().name}}</td></tr>
                        {% endfor %}
                    {% else %}
                        {% if the_info.sections %}
                            <tr><td>No section selected!</td></tr>
                        {% endif %}
                    {% endif %}
                    {% if the_info.sections %}
                        <tr><td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown">
                                    <i class="icon-plus icon-large"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    {% for a_section in the_info.sections %}
                                        <li role="presentation"><a class="section-click" id="{{a_section.urlsafe()}}" data-ak="{{the_info.assoc.key.urlsafe()}}" role="menuitem" tabindex="-1" href="#">{{a_section.get().name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- dropdown -->
                        </td></tr>
                    {% endif %}
                </table>
            </td>
            <td width=10%>
                <a href="/member_delete_assoc.html?bk={{the_info.assoc.band.urlsafe()}}&mk={{the_member.key.urlsafe()}}">Leave Band</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    You need to add a band!
{% endif %}
