{% if the_assoc_info %}
    {% if the_assoc_info | length > 1 %}
        <table class="table table-striped">
    {% else %}
        <table class="table">
    {% endif %}
    {% for the_info in the_assoc_info %}
        {% set the_band_name = the_info.assoc.band.get().name %}
        <tr>
            <td style="border-top:none;">
                <a href="/band_info.html?bk={{the_info.assoc.band.urlsafe()}}">{{the_band_name}}</a>
            </td>
            {% if the_info.assoc.is_confirmed == 0 %}
                <td colspan=2 style="border-top:none;">
                    {% trans %}pending{% endtrans %}
                </td>
            {% elif the_info.sections|length == 0 %}
                <td colspan=2 style="border-top:none;">
                </td>
            {% else %}
                <td style="border-top:none;">          
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id='sbk-{{the_info.assoc.band.urlsafe()}}'>
                            {% if the_info.assoc.default_section == None %}
                                {% trans %}section{% endtrans %}...  <span class="caret"></span>
                            {% else %}
                                {{the_info.assoc.default_section.get().name}} <span class="caret"></span>
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for section_key in the_info.sections %}
                                <li><a onclick="section_select('{{the_info.assoc.band.urlsafe()}}','{{section_key.urlsafe()}}','{{section_key.get().name}}')">{{ section_key.get().name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
                <td style="border-top:none;">
                    <input type="checkbox" id='msbk-{{the_info.assoc.band.urlsafe()}}' onclick="multi_select('{{the_info.assoc.band.urlsafe()}}')"
                    {% if the_info.assoc.is_multisectional %}
                        checked
                    {% endif %}
                    > {% trans %}other sections, too{% endtrans %}
                </td>
            {% endif %}
            <td style="border-top:none;">    
                <button class="btn btn-default btn-sm" onclick="leave_band('{{the_info.assoc.key.urlsafe()}}','{{the_info.assoc.band.get().name|safe_name}}')"><i class="fa fa-minus-square"></i> {% trans %}Leave Band{% endtrans %}</button>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
        {% trans %}You need to add a band!{% endtrans %}
{% endif %}
