{% if all_bands %}
    <div class="row">
        <div class="col-md-12">                        
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle text-center" data-toggle="dropdown">
                    <i class="fa fa-plus-square"></i> {% trans %}Add Band{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    {% for a_band in all_bands %}
                    <a class="dropdown-item band-click" role="presentation" id="{{a_band.key.urlsafe()}}"role="menuitem" tabindex="-1" href="#">{{a_band.name}}</a>
                    {% endfor %}
                </div>
            </div> <!-- dropdown -->
        </div>
    </div> <!-- row -->
{% endif %}
