{% extends 'go2base.html' %}
{% from 'tf.html' import truefalse %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock title %}

{% block headcontent %}
<!-- bxSlider CSS file -->
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
{% endblock headcontent %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% trans %}Profile{% endtrans %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% trans %}Info{% endtrans %}
                            </div>
                            {% if member_is_me or the_user_is_superuser %}
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
                                    <a class="btn btn-primary btn-xs" href="member_edit.html?mk={{ the_member.key.urlsafe() }}">{% trans %}Edit{% endtrans %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Name{% endtrans %}</div>
                        <div class="col-md-6 col-sm-6 col-xs-6">{{ the_member.name|e }}
                            {% if the_member.nickname %}
                                ({{ the_member.nickname | e }})
                            {% endif %}
                        </div>
                    </div>
                    {% if show_email %}
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Email{% endtrans %}</div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><a href="mailto:{{the_member.email_address}}">{{ the_member.email_address }}</a>
                            {% if email_change_msg %}<br>{{ email_change_msg }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if show_phone %}
                        {% if the_member.phone %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Phone{% endtrans %}</div>
                                <div class="col-md-6 col-sm-6 col-xs-6">{{ the_member.phone|e }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="row"><br></div>
                    {% if the_member.statement %}
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Personal Statement{% endtrans %}</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ the_member.statement|e }}</div>
                        </div>
                        <div class="row"><br></div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}My Bands{% endtrans %}</div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            {% for band_key in the_band_keys %}
                                {% set the_band = band_key.get() %}
                                <a href="/band_info.html?bk={{ the_band.key.urlsafe() }}">{{ the_band.name }}</a>{% if loop.last == False %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if member_is_me or the_user_is_superuser %}
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Hide canceled gigs{% endtrans %}:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ truefalse(the_member.preferences.hide_canceled_gigs) }}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Share my profile{% endtrans %}:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ truefalse(the_member.preferences.share_profile) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Share my email{% endtrans %}:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ truefalse(the_member.preferences.share_email) }}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Calendar URL for My Bands{% endtrans %}</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                    <a href="http://gig-o-matic.appspot.com/cal/m/{{the_member.key.urlsafe()}}" onclick="return false;">{% trans %}Subscribe using this link's URL{% endtrans %}</a> [<a href="/calhelp">{% trans %}click here for help{% endtrans %}</a>]
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Calendar shows only confirmed gigs{% endtrans %}:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ truefalse(the_member.preferences.calendar_show_only_confirmed) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">{% trans %}Calendar shows only gigs I can do (or maybe can do){% endtrans %}:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">{{ truefalse(the_member.preferences.calendar_show_only_committed) }}</div>
                        </div>
                        {% if the_user_is_superuser %}
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">Verified:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                            	{{ the_member.verified }}
                            	{% if the_member.verified == False %}
                            		<a class="btn btn-primary btn-xs" href="/verify_member?mk={{ the_member.key.urlsafe() }}">verify</a>
                            	{% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">Last Activity:</div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {% if the_member.last_activity %}
                                    {{ the_member.last_activity.strftime('%Y-%m-%d') }}
                                {% else %}
                                    None since 2014-10-18
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if the_member.images %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% trans %}Pictures Of Me{% endtrans %}
                            </div>
                        </div>
                        <div class="panel-body" id="pictures">
                            <ul class="bxslider">
                                {% for i in the_member.images %}
                                      <li><img src="{{i}}" /></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            {% endif %}            
            {% if member_is_me or the_user_is_superuser %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">                    
                              {% trans %}Bands{% endtrans %}
                        </div>
                    </div>
                    <div class="panel-body">        
                        <div id="bandlist">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div id="bandpopup">
                        </div>
                    </div>
                </div>
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    {% endif %}
    </div>
{% endblock content %}

{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}Confirm Delete{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}Do you really want to leave{% endtrans %} <span id='band-name'></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Don't Leave{% endtrans %}</button>
                    <a class="btn btn-primary" id="leave-ak" href="/member_delete_assoc.html?ak=">{% trans %}Yes, Leave{% endtrans %}</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock modal %}

{% block localscripts %}
<!-- bxSlider Javascript file -->
<script src="/js/jquery.bxslider.min.js"></script>
<script>
function updateBands() {
    $.post('/member_get_assocs',
            {
                mk: '{{ the_member.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    $('#bandlist').html(responseTxt);
                    updateBandlist()
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function updateBandlist() {
    $.post('/member_get_other_bands',
            {
                mk: '{{ the_member.key.urlsafe() }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    $('#bandpopup').html(responseTxt);
                    setupClick();
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}


function section_select(bk, sk, name) {
    var mk='{{the_member.key.urlsafe()}}';
    $.post('/member_set_section',
            {
                mk: mk,
                sk: sk,
                bk: bk
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    $('#sbk-'+bk).html(name+ " <span class='caret'></span>")
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function color_select(ak, c) {
    $.post('/member_set_color',
            {
                ak: ak,
                c: c
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    test=$('#color-'+c).html();
                    $('#cbk-'+ak).html(test + " <span class='caret'></span>");
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function email_select(ak, em) {
    $('#mailbk-'+ak).html("<i class=\"fa fa-spinner fa-spin fa-lg\"></i>");
    $.post('/member_set_get_email',
            {
                ak: ak,
                em: em
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success") {
                    if (em) {
                        test=$('#mail_true').html();
                    } else {
                        test=$('#mail_false').html();
                    }
                    $('#mailbk-'+ak).html(test + " <span class='caret'></span>");
                }
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}


function multi_select(bk) {
    elem=document.getElementById("msbk-"+bk)
    var mk='{{the_member.key.urlsafe()}}';
    $.post('/member_set_multi',
            {
                mk: mk,
                bk: bk,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function occ_select(ak) {
    elem=document.getElementById("oak-"+ak)
    $.post('/band_makeoccasional',
            {
                ak: ak,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function hide_select(ak) {
    elem=document.getElementById("hideak-"+ak)
    $.post('/member_set_hide_from_schedule',
            {
                ak: ak,
                do: elem.checked
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
}

function leave_band(ak, bandname) {
    $('#band-name').html(bandname);
    $('#leave-ak').attr('href','/member_delete_assoc.html?ak='+ak);
    $('#deleteModal').modal('show');
}

function setupClick() {
    $("a.band-click").click(function(){
        var mk='{{the_member.key.urlsafe()}}';
        var bk=$(this).attr("id");
        $.post("/member_new_assoc",
                    {
                        mk: mk,
                        bk: bk
                    },
                    function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                            $('#bandlist').html('<i class="fa fa-spinner fa-spin"></i>');
                            $('#bandpopup').html('');
                            setTimeout(function() {
                                updateBands()
                            }, 500); // delay to let database catch up
                        if(statusTxt=="error")
                          alert("Error: "+xhr.status+": "+xhr.statusText);
                    });
    });
}

$(document).ready(function() {
    updateBands();
    setupClick();
    $('.bxslider').bxSlider({
        auto: true,
        controls: true,
        pager: false,
        autoStart: ($(".bxslider>li").length > 1) ? true: false,        
    });
    
});
</script>
{% endblock localscripts %}

