{% extends 'go2base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2"><h1>Member Admin</h1></div>
    </div> 
    {% for member in the_members %}
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="/member_info.html?mk={{member.key.urlsafe()}}">{{ member.name|e }}</a>
            </div>
            <div class="col-md-2">
            {% if member==the_user %}
                me!
            {% else %}
                {% if member.role==0 %}
                    <a href="/member_makeadmin?do=1&mk={{member.key.urlsafe()}}">make admin</a>
                {% else %}    
                    <a href="/member_makeadmin?do=0&mk={{member.key.urlsafe()}}">remove admin</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}

