{% extends 'go2base.html' %}

{% block title %}{% trans %}Uh oh!{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <h2>{% trans %}Adding a Gig{% endtrans %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <i class="fa fa-asterisk"></i>{% trans %}no_band_gig_message{% endtrans %}
<!-- 
            You are not yet a confirmed member of any bands. Once you've joined a band, someone from that band
            will confirm that you're for real, and you'll get an email confirming your membership. Then, you can
            create and edit gigs for that band. So, hold your horses and check your email!
 -->
            <br><br>
        </div>
    </row>        
{% endblock content %}

