{% extends 'go2base.html' %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2"><h2>No Gig Found!</h1></div>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        You're looking for info on a gig that doesn't exist. This can happen if you're 
        responding to a "new gig" email, but the gig has been deleted for some reason.
        If that's the case, feel good about yourself - you're a loyal bandmate.
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


