{% import 'plan_icon.html' as plan_icon %}

{% macro plan_edit(plan_info, is_agenda) -%}
{% set the_gig_key = plan_info['the_gig_key'] %}
{% set the_plan_key = plan_info['the_plan_key'] %}
{% set the_member_key = plan_info['the_member_key'] %}
{% set show_band = is_agenda==True and the_member_key.get().number_of_bands>1 %}
{% set the_band_key = plan_info['the_band_key'] %}
{% set the_assoc = plan_info['the_assoc'] %}
{% if the_assoc and the_assoc.is_multisectional %}
    {% set show_section = True %}
{% else %}
    {% set show_section = False %}
{% endif %}
<div class="row">
    {% if is_agenda==True %}
        <div class="col-md-2 col-sm-2 col-xs-3">
            <a href="gig_info.html?gk={{ the_gig_key.urlsafe() }}" >{{ the_gig_key.get().title|e }}</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
            {{ the_gig_key.get().date|e }}
        </div>
    {% endif %}
    {% if is_agenda==False %}
        <div class="col-md-3 col-sm-3 col-xs-4">
             <a href='/member_info.html?mk={{the_member_key.urlsafe()}}'>{{ the_member_key.get().name }}</a>
        </div>
    {% endif %}
    {% if is_agenda==True and show_band==True %}
        <div class="col-md-2 col-sm-2 col-xs-3">
            <a href="band_info.html?bk={{ the_band_key.urlsafe()}}">
             {{ the_band_key.get().name|e }}</a>
        </div>
    {% endif %}
    {% if is_agenda==True %}
        <div class="col-md-1 col-sm-2 col-xs-3">
    {% else %}
        <div class="col-md-2 col-sm-2 col-xs-3">
    {% endif %}
        {% if the_member_key == the_user.key or the_user_is_superuser %}
            {{ plan_icon.icon_button(the_plan_key.get()) }}
        {% else %}
            {{ plan_icon.icon(the_plan_key.get().value) }}
        {% endif %}
    </div>
    {% if show_section %}
        {% if show_band %}
            <div class="col-md-3 col-sm-4 col-xs-4">
        {% else %}
            <div class="col-md-5 col-sm-6 col-xs-6">
        {% endif %}
    {% else %}
        {% if show_band %}
            <div class="col-md-5 col-sm-6 col-xs-6">
        {% else %}
            <div class="col-md-7 col-sm-8 col-xs-8">
        {% endif %}
    {% endif %}
        {% if the_member_key == the_user.key or the_user_is_superuser %}    
            <div class="form-group plan-comment-input">
                <input type="text" id="c-{{the_plan_key.urlsafe()}}" class="form-control" value="{{the_plan_key.get().comment}}" onchange="update_comment('{{the_plan_key.urlsafe()}}')">
            </div>
        {% else %}
            {{the_plan_key.get().comment}}
        {% endif %}
    </div>
    {% if show_section %}
        <div class="col-md-2 col-sm-3 col-xs-3">
            {% if get_the_section_keys %}
                {% set the_section_keys = get_the_section_keys(the_band_key) %}
            {% endif %}
            {% set the_section_keys = the_band_key.get().sections %}
            {% if the_section_keys and the_section_keys|length > 1 and (the_plan_key.get().member == the_user.key or the_user_is_superuser)%}
            <div class="form-group plan-comment-input">
                <select class="form-control" id="sel-{{the_plan_key.urlsafe()}}" onchange="option_select('{{the_plan_key.urlsafe()}}')">
                {% if the_plan_key.get().section == None %}
                    <option selected id='0'>section...</option>
                {% endif %}
                {% for section_key in the_section_keys %}
                    {% if section_key %}
                        <option
                            {% if section_key == the_plan_key.get().section %}
                                selected
                            {% endif %}
                            id="{{section_key.urlsafe()}}"
                        >{{ section_key.get().name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{%- endmacro %}
