{% extends 'go2printbase.html' %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block bodyclass %}
    style="padding-top:0px"
{% endblock bodyclass %}

{% block wrapclass %}
{% endblock wrapclass %}

{% block welcome %}
{% endblock welcome %}
{% block motd %}
{% endblock motd %}

{% block content %}
{% import 'plan_icon.html' as plan_icon %}

<div class="row">
    Setlist For {{the_gig.title}}
</div>
<div class="row">
    {{ the_date_formatter(the_user, the_gig.date, 'short') }} {{ the_gig.calltime }}
</div>
<br>
<div class="row">
    {{ the_gig.setlist | html_content | safe }}
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script>window.jQuery || document.write('<script src="/jquery/jquery-1.10.2.js"><\/script>')</script>
<script>
$(document).ready(function() {
    window.print();
    setTimeout(function(){window.close();}, 1);
});
</script></script>{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
