{% extends 'go2printbase.html' %}

{% block content %}
{% import 'plan_icon.html' as plan_icon %}

<div class="row">
    <h3>Member Plans For Gig: {{the_gig.title}}</h3>
</div>
<div class="row">
    {{ the_gig.date }} {{ the_gig.call }}
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Members Planning To Be There</strong>  
    </div>
    <div class="panel-body">
        <table class="table">
        {% for the_section in the_section_keys %}
            {% set section_title = False %}
            {% for member_plan in the_plans %}                    
                {% set the_plan = member_plan['the_plan_key'].get() %}
                {% if member_plan['the_section']  == the_section and the_plan.value and the_plan.value < 3 %}
                    {% set the_member = the_plan.member.get() %}
                    <tr>
                        <td width="20%">
                        {% if section_title == False %}
                                {% if the_section %}
                                    {{the_section.get().name}}
                                {% else %}
                                    No Section
                                {% endif %}
                                {% set section_title = True %}
                        {% endif %}
                        </td>
                            <td width="50%">
                                {{ the_member.name }}
                                {% if the_plan.value == 2 %}
                                    (probable)
                                {% endif %}
                            </td>
                            <td width="30%">
                                {% if the_member.phone %}
                                    {{ the_member.phone }}
                                {% endif %}
                            </td> 
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script>window.jQuery || document.write('<script src="/jquery/jquery-1.10.2.js"><\/script>')</script>
<script>
$(document).ready(function() {
    window.print()
    setTimeout(function(){window.close();}, 1);    
});
</script>{% endblock localscripts %}
