{% extends 'go2base.html' %}

{% block title %}{% trans %}Policies!{% endtrans %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header mx-auto col-lg-8 col-md-10 col-sm-12">
        {% trans %}Gig-o-Matic Privacy Policy{% endtrans %}
    </div>
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12"><i>Updated 2018-05-25</i></div>
</div>

<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        Information on the Gig-o-Matic will not be sold or provided to anyone outside of the Gig-o-Matic for any use, except under legal compulsion.<br><br>
        Other members of your band will see your email address, phone number, and whatever other details you enter into the system. If you set your profile so that information may be shared outside your band, people outside your band may see it.<br><br>
        The Gig-o-Matic stores the information you have entered into the system, as well as the date your account was created and the date of your most recent activity. Gig details, including comments and plans registred by members, are stored indefinitely. System administrators and band administrators have the ability to adjust plans for individual members.<br><br>
        If you do not wish to receive automatic emails from the Gig-o-Matic, you can turn emails off in your profile page.
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="page-header mx-auto col-lg-8 col-md-10 col-sm-12">
        {% trans %}Gig-o-Matic Security Policy{% endtrans %}
    </div>
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12"><i>Updated 2017-03-13</i></div>
</div>

<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        The Gig-o-Matic cannot promise super high-security for any of the data. The code is written to follow basic standards, but (as with every other web site) a determined actor 
        will undoubtedly be able to break in and read the content. And because the Gig-o-Matic caters to self-proclaimed "activist" groups, there's a fair chance that somebody,
        sometime, might want to scrutinize the content. For that reason, without being alarmist, consider this when giving the Gig-o-Matic any information you don't want to see on the front page of the New York Times. Or in a dossier somewhere.
    </div>
</div>

{% endblock content %}

{% block localscripts %}
{% endblock localscripts %}


