{% extends 'go2base.html' %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block content %}
<h2>Reset password</h1>
<form action="/password" method="post">
    <label>Select password</label>
    <input type="password" name="password" />
    <input type="password" name="confirm_password" />
    <input type="hidden" name="t" value="{{ token }}" />
    <input type="submit" value="Update password" />
</form>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
