{% extends 'go2base.html' %}

{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header">  
                    <h3>{% trans %}Reset Password{% endtrans %}</h3>
                </div>

                {% trans %}Forgot your password? No problem - enter a new one here.{% endtrans %}<br><br>

                <form class="form form-horizontal" id="infoform" role="form" action= "/password" method="POST">
                    <div class="form-group">
                        <label for="password" class="control-label">{% trans %}New Password{% endtrans %}</label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="control-label col-md-2 col-md-offset-2">{% trans %}And Again{% endtrans %}</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" />
                    </div>
                    <input type="hidden" name="t" value="{{ token }}" />
                    <input type="submit" class="btn btn-primary" value="{% trans %}Update Password{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="/js/randomback.js"></script>
<script src="/js/jquery.validate.js"></script>
<script>
$(document).ready(function() {
    $("#infoform").validate({
        rules: {
            password: {
                required: true
            },
            confirm_password: {
                equalTo: "#password"
            }
        }
    });
});
</script>

{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
