{% include 'header.html' %}
{% import 'plan_icon.html' as plan_icon %}

<div class="container">

    <div class="starter-template">
        <h1>Reset password</h1>

        <form action="/password" method="post">
            <label>Select password</label>
            <input type="password" name="password" />
            <input type="password" name="confirm_password" />
            <input type="hidden" name="t" value="{{ token }}" />
            <input type="submit" value="Update password" />
        </form>

    </div>
</div><!-- /.container -->
{% include 'scripts.html' %}
<script src="/js/plan_buttons.js"></script>
{% include 'footer.html' %}
