<div class="row show-grid">
    <div class="col-1">
        <div class="d-inline d-sm-none d-md-none d-lg-none d-xl-none">x</div>
        <div class="d-none d-sm-inline d-md-none d-lg-none d-xl-none">sm</div>
        <div class="d-none d-sm-none d-md-inline d-lg-none d-xl-none">md</div>
        <div class="d-none d-sm-none d-md-none d-lg-inline d-xl-none">lg</div>
        <div class="d-none d-sm-none d-md-none d-lg-none d-xl-inline">xl</div>
    </div>
    <div class="col-1" style="background:gray;">x</div>
    <div class="col-1">x</div>
    <div class="col-1" style="background:gray;">x</div>
    <div class="col-1">x</div>
    <div class="col-1" style="background:gray;">x</div>
    <div class="col-1">x</div>
    <div class="col-1" style="background:gray;">x</div>
    <div class="col-1">x</div>
    <div class="col-1" style="background:gray;">x</div>
    <div class="col-1">x</div>
    <div class="col-1" style="background:gray;">x</div>
</div>