<div class="row show-grid">
    <div class="col-md-1 col-sm-1 col-xs-1">
        <div class="visible-xs">xs</div>
        <div class="visible-sm">sm</div>
        <div class="visible-md">md</div>
        <div class="visible-lg">lg</div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
    <div class="col-md-1 col-sm-1 col-xs-1">x</div>
</div>