    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<!--     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="http://xxxajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery/jquery-1.10.2.js"><\/script>')</script>
<!--     <script src="http://code.jquery.com/jquery.js"></script> -->

    <script src="bootstrap/js/bootstrap.min.js"></script>
