{% extends 'go2base.html' %}

{% block title %}{% trans %}Secrets Admin{% endtrans %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-8 col-md-offset-2">
            {% trans %}Secrets Administration{% endtrans %}
        </div>
    </div>
    <form class="form" role="form" method="post" action="secrets_admin">
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2">
                <label for="cryptokey" class="control-label">Crypto Key</label>
                <input type="text" class="form-control" id="cryptokey" name="cryptokey" value="{{cryptokey}}"></input>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-md-offset-2">
                <label for="slack_client_id" class="control-label">Slack Client ID</label>
                <input type="text" class="form-control" id="slack_client_id" name="slack_client_id" value="{{slack_client_id}}"></input>
            </div>
            <div class="form-group col-md-4">
                <label for="slack_client_secret" class="control-label">Slack Client Secret</label>
                <input type="text" class="form-control" id="slack_client_secret" name="slack_client_secret" value="{{slack_client_secret}}"></input>
            </div>
        </div>
        <div class="form-group col-md-8 col-md-offset-2 text-right">
            <a class="btn btn-default" href="/">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}
