{% include 'header.html' %}
{% import 'plan_icon.html' as plan_icon %}

<div class="container">

  <div class="starter-template">

<h1>Register a new user</h1>
<form action="/signup" method="POST">
<label for="email">Email address</label>
<input type="text" name="email" />
<label for="password">Password</label>
<input type="password" name="password" />
<label for="name">Display Name</label>
<input type="text" name="name" />
<input type="submit" value="Create user" />
</form>

  </div>

</div><!-- /.container -->
{% include 'scripts.html' %}
<script src="/js/plan_buttons.js"></script>
{% include 'footer.html' %}
