{% if welcome %}
<div id="welcome-alert" class="alert alert-success fade in">
            Welcome to Gig-O-Matic!<br><br>
            First things first: Be sure to edit your profile with info about yourself.<br><br>
            Second things second: Add a band or two by clicking on the (duh) "add band" link below. The band's administrator will confirm that you're for real,
            and you'll get an email confirmation. Which will be awesome.<br><br>
            Need help? Click <a href="/help" class="alert-link">here</a> and hopefully you'll get what you need.<br><br>
            Need even more help? Contact the <a href="mailto:gigomatic.superuser@gmail.com" class="alert-link">Gig-O-Matic Overlords</a>.
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">dismiss-> &times;</a>
</div>
{% endif %}