{% extends 'go2base.html' %}

{% block title %}{% trans %}What Is It?{% endtrans %}{% endblock title %}

{% block navbar %}
    <!-- no navbar -->
{% endblock navbar %}

{% block wrapclass %}
class="landingwrap"
{% endblock wrapclass %}

{% block content %}
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2">
        <a href="/"><i class="fas fa-arrow-left"></i> Back to the Gig-o-Matic</a>
        <h2>What Is The Gig-o-Matic?</h1>
    </div>    
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        It's like this: honk bands (and any band made up of people who have day jobs) have a hard time
        coordinating. Can you guys make this gig? What are we playing? What time do I have to be there?
        It's a pain.<p><p>
        The Gig-O-Matic ameliorates the problem by letting everyone in your band register their
        availability for a gig in one place. Everyone gets their own calendar-of-events listing
        upcoming gigs, including gigs they haven't weighed-in on yet. See here:
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <img src="/images/whatis-agenda.png" style="border:1px solid;">
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        All the information about a gig can be collected in the Gig-o, too, giving every member
        a single place to go for info about where they're supposed to be, and when:
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <p><img src="/images/whatis-gig-info.png" style="border:1px solid;"><p><p>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        There are plenty of other features that make managing and belonging to bands easier.
        Here's a non-exhaustive list:<br><br>
        <ul>
            <li> Three views of upcoming gigs: Agenda, Calendar, Grid
            <li> Organize your band by sections (or leave it disorganized)
            <li> Members can play in more than one section
            <li> Members can manage their membership in more than one band
            <li> Personal profile pages
            <li> Band profile pages (show off to members of other bands!)
            <li> Optional automatic email notification of new gigs
            <li> Printable setlist pages
            <li> Members can comment on their availability, and comment on a gig
            <li> Automatic archiving of plans once the gig has passed
            <li> Integration into Google Calendar, Apple Cal, Outlook, etc.
            <li> Designed to work well on a computer, a phone, a tablet, a jumbotron, and a blimp
            <li> See it all in English, Italian, or German (Got a favorite language? Translators wanted...)
        </ul>
        More features show up all the time.<br><br>
        Questions you may have at this point:
        <ul>
            <li><i>Who uses this thing?</i> The Gig-o has been used by the Second Line Brass Band
            for years, and is now open to any band.
            <li><i>What's it cost?</i> It's free, friends. The Gig-O-Matic was built as a labor of
            love, and we love everyone. We run on the Google application engine, which is exceedingly
            cheap, so we're passing the lack-of-spending on to you.
            <li><i>Who made it?</i> The Gig-O-Matic Overlord Committee did it in their spare time.
            <li><i>How can I get my band involved?</i> <a href="/help_band_request.html">Click here</a>.
            <li><i>What if I have some other question?</i> <a href="mailto:gigomatic.superuser@gmail.com">Email Here!</a>
    </div>
</div>
<div class="row">
    <div class="page-header col-md-8 col-md-offset-2">
        <a href="/"><i class="fas fa-arrow-left"></i> Back to the Gig-O-Matic</a>
    </div>    
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block localscripts %}
{% endblock localscripts %}

{% block navbarscripts %}
    <!-- no navbar -->
{% endblock navbarscripts %}
